{% extends "../applications/_tabs.njk" %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Metrics
{% endblock %}

{% block insideTabs %}
  <h2 class="govuk-heading-m">Choose a time range</h2>

  {% include "../../layouts/metrics/details.njk" %}

  {{ appMetrics | safe }}

  <link href="/assets/muze.css" media="screen" rel="stylesheet" />
  <script src="/assets/muze.js"></script>
  <script src="/assets/metrics.js"></script>
{% endblock %}
