{% extends "../applications/_tabs.njk" %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Metrics
{% endblock %}

{% block insideTabs %}
  <div id="app-metrics-component-root">{{ appMetricsComponent | safe }}</div>

  <template id="app-metrics-component-props">
    {{ appMetricsComponentProps | safe }}
  </template>
  <script src="/assets/app-metrics.js"></script>
{% endblock %}
