{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/frontend/components/radios/macro.njk" import govukRadios %}
{% from "@govuk-frontend/frontend/components/select/macro.njk" import govukSelect %}

{% block page_title %}
  Pricing calculator
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="paas-heading-l">Estimate your monthly costs</h1>

      <p class="paas-calculator-lede">
        Service teams usually run 3 environments, such as:<br>
        Production, Integration and Staging.
      </p>

      <h2>Environment <span class="paas-example">(e.g. Production)</span></h2>
    </div>
  </div>

  <div class ="govuk-grid-row paas-pricing-calculator">
    <div class="govuk-grid-column-two-thirds paas-service-list" data-module="accordion-with-descriptions">
      <div class="paas-service-list-inner">
        {% for service, versions in services %}
          <div class="paas-pricing-section">
            <div class="subsection__header">
              <h2 class="subsection__title">{{ service }}</h2>
            </div>
            {% for version, sizes in versions %}
              <section class="subsection__content govuk-grid-row">
                <form>
                  <input type="hidden" name="estimate" value="{{ estimate | dump }}">
                  <div class="govuk-grid-column-one-half service-version">
                    <p>{{ service }} {{ version }}</p>
                  </div>
                  <div class="govuk-grid-column-one-half govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      {{ govukSelect({
                        id: "service-" + service + "-" + version,
                        name: service + "[plan]",
                        items: sizes | map({
                          text: "name",
                          value: "planGUID"
                        })
                      }) }}
                    </div>
                    <div class="govuk-grid-column-one-third">
                      <button class="govuk-button" type="submit">+Add</button>
                    </div>
                  </div>
                </form>
              </section>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="govuk-grid-column-one-third paas-summary-section">
      <h2>Estimated cost summary</h2>

      <p>
        Following prices are <strong>excluding vat</strong>.
      </p>

      <form>
        <input type="hidden" name="estimate" value="{{ estimate | dump }}">
        <ul>
          {% for quote in quota.instances %}
            <li>
              {{ quote.resourceType }} <button type="submit" name="remove[]" value="{{ quote.resourceGUID }}">remove</button><br>
              {{ quote.resourceName }}: <span class="paas-service-price">&pound;{{ quote.price.exVAT | currency(2) }}</span>
            </li>
          {% endfor %}
        </ul>
      </form>

      <p class="paas-total">Total estimated cost:</p>

      <p class="paas-price">&pound;{{ quota.exVAT | currency(2) }}</p>
      <p class="paas-month">per month</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Why this cost might vary</span>
        </summary>
        <div class="govuk-details__text">
          <p>This estimate assumes constant usage at the levels you've provided. Final figures will vary as CPU/Postgres/ MySQL are charged based on hourly consumption and exchange rates will fluctuate.</p>

          <p>This cost estimate is dated: 26.01.2017 – 15:23. Estimates are liable to change over time.</p>
        </div>
      </details>
    </div>
  </div>

  {{ params | dump }}

{% endblock %}
