{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/frontend/components/radios/macro.njk" import govukRadios %}
{% from "@govuk-frontend/frontend/components/select/macro.njk" import govukSelect %}

{% block page_title %}
  Pricing calculator
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="paas-heading-l">Estimate your monthly costs</h1>

      <p class="paas-calculator-lede">
        Service teams usually run 3 environments, such as:<br>
        Production, Integration and Staging.
      </p>
    </div>
  </div>

  <div class ="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds paas-service-list">
      <table class="govuk-table">
        <caption class="govuk-table__caption">
          Environment <span class="paas-example">(e.g. Production)</span>
        </caption>
        <thead>
          <th>Service version</th>
          <th>Select a service plan</th>
        </thead>
        <tbody class="govuk-table__body">
          {% for service, versions in services %}
            {% for version, sizes in versions %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{ service }} {{ version }}</td>
                <td class="govuk-table__cell ">
                  <form class="paas-service-selection">
                    <input type="hidden" name="estimate" value="{{ estimate | dump }}">
                    {{ govukSelect({
                      id: "service-" + service + "-" + version,
                      name: service + "[plan]",
                      items: sizes | map({
                        text: "name",
                        value: "planGUID"
                      })
                    }) }}
                    <button type="submit" class="paas-link-button">+ Add</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-one-third paas-summary-section">
      <h2>Estimated cost summary</h2>

      <p>
        Following prices are <strong>excluding vat</strong>.
      </p>

      <form>
        <input type="hidden" name="estimate" value="{{ estimate | dump }}">
        <table>
          <caption>Services added</caption>
          {% for quote in quota.instances %}
            <tr>
                <td class="paas-service-heading">{{ quote.resourceType }}</td>
                <td><button class="paas-remove-button" type="submit" name="remove[]" value="{{ quote.resourceGUID }}" arria-label="Remove">&times;</button></td>
            </tr>
            <tr>
              <td>{{ quote.resourceName }}: </td>
              <td class="paas-service-price">&pound;{{ quote.price.exVAT | currency(2) }}</td>
            </tr>
          {% endfor %}
        </table>
      </form>

      <p class="paas-total">Total estimated cost:</p>

      <p class="paas-price">&pound;{{ quota.exVAT | currency(2) }}</p>
      <p class="paas-month">per month</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Why this cost might vary</span>
        </summary>
        <div class="govuk-details__text">
          <p>This estimate assumes constant usage at the levels you've provided. Final figures will vary as CPU/Postgres/ MySQL are charged based on hourly consumption and exchange rates will fluctuate.</p>

          <p>This cost estimate is dated: 26.01.2017 – 15:23. Estimates are liable to change over time.</p>
        </div>
      </details>
    </div>
  </div>

  {{ params | dump }}

{% endblock %}
