.paas-summary-section {
  @include govuk-font-regular-16;
  padding-top: $govuk-spacing-scale-3;
  padding-bottom: $govuk-spacing-scale-3;
  padding-left: $govuk-spacing-scale-3;
  padding-right: $govuk-spacing-scale-3;
  background-color: $govuk-grey-4;
  border: 10px $govuk-grey-3 solid;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  margin-top: 196px;

  h2 {
    @include govuk-font-bold-24;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-child(even) td {
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
  }

  tr:nth-child(odd) td {
    padding-top: 10px;
  }

  td:nth-child(even) {
    text-align:right;
  }

  td:nth-child(odd) {
    padding-right: 10px;
  }

  button {
    @include govuk-font-regular-24;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .paas-price {
    @include govuk-font-bold-36;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
  }

  .paas-month {
    @include govuk-font-bold-16;
    margin-top: 0;
  }

  .paas-total {
    margin-bottom: $govuk-spacing-scale-1;
    margin-top: $govuk-spacing-scale-6;
  }

  .govuk-details {
    margin-bottom: 0;
  }

  caption {
    position: absolute;
    left: -9999em;
  }
}

.paas-calculator-lede {
  margin-bottom: $govuk-spacing-scale-9;
  @include govuk-font-regular-19;
}

.paas-example {
  @include govuk-font-regular-24;
}

.paas-service-list {
  caption {
    @include govuk-font-bold-24;
    margin-bottom: 20px;
  }

  th {
    text-align: left;
    border-bottom: 5px solid $govuk-black;
  }
}

.paas-service-selection {
  text-align: right;

  .govuk-form-group {
    display: inline-block;
    float: left;
    margin: 0;
    width: 80%;
  }

  select {
    @include govuk-font-regular-16;
  }

  /*Gov.Uk select macros do not allow you to exclude the label element even
  though it should be optional and just leaves a blank label, so we are hiding
  it with CSS.*/
  label {
    margin-bottom: 0;
    visibility: hidden;
  }

  button {
    @include govuk-font-regular-16;
    background: none;
    border: none;
    box-shadow: none;
    color: $govuk-blue;
    cursor: pointer;
    display: inline-block;
    text-align: right;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 10px;
    min-width: 43px;
  }
}
