{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/frontend/components/radios/macro.njk" import govukRadios %}

{% block page_title %}
  Pricing calculator
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="paas-heading-l">Estimate your monthly costs</h1>

      <p class="paas-calculator-lede">
        Service teams usually run 3 environments, such as:<br>
        Production, Integration and Staging.
      </p>

      <h2>Environment <span class="paas-example">(e.g. Production)</span></h1>
    </div>
  </div>

  <div class ="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form class="paas-pricing-form" method="get">
      <input type="hidden" name="estimate" value="{{ estimate | dump }}">

      <details open>
        <summary>Calculate memory usage</summary>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukInput({
              label: {
                text: "App description"
              },
              id: "app-description",
              name: "app[description]"
            }) }}
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-grid-column-one-half">
              {{ govukInput({
                label: {
                  text: "Memory"
                },
                id: "app-memory",
                name: "app[memory]"
              }) }}
            </div>

            <div class="govuk-grid-column-one-half">
              {{ govukInput({
                label: {
                  text: "Instances"
                },
                id: "app-instances",
                name: "app[instances]"
              }) }}
            </div>
          </div>
        </div>

        {{ govukButton({
          text: "Add application"
        }) }}

        <blockquote>
          <p>
            Compute charged by the Gigabyte-hour, on a pay-as-you-go basis. All usage rounded up to the nearest hour.
          </p>

          <p>
            Load-balancing provided by the platform and included in price. Up to 10 GB/month bandwidth free. Multiple app instances are automatically balanced across availability zones.
          </p>
        </blockquote>
      </details>

      {% for service, plans in services %}
        <details>
          <summary>{{ service }}</summary>

          {{ govukRadios({
            idPrefix: service,
            name: service + "[plan]",
            classes: "govuk-radios--inline",
            fieldset: {
              legendText: "Choose a plan"
            },
            items: plans | query("[].{text: name, value: planGUID}")
          }) }}

          {{ govukButton({
            text: "Add service"
          }) }}
        </details>
      {% endfor %}
      </div>

    <div class="govuk-grid-column-one-third">
      <h4>Estimated cost summary</h4>

        <p>
          Following prices are <strong>excluding vat</strong>.
        </p>

        <ul>
          {% for quote in quota.instances %}
            <li>
              {{ quote.resourceType }} - {{ quote.resourceName }}: {{ quote.price.exVAT | currency(2) }}
              <button type="submit" name="remove[]" value="{{ quote.resourceGUID }}">remove</button>
            </li>
          {% endfor %}
        </ul>

        <p class="paas-total">Total estimated cost:</p>

        <p class="paas-price">£{{ quota.exVAT | currency(2) }}</p>
        <p class="paas-month">per month</p>

        <details>
          <summary>Why this cost might vary</summary>

          <p>This estimate assumes constant usage at the levels you've provided. Final figures will vary as CPU/Postgres/ MySQL are charged based on hourly consumption and exchange rates will fluctuate.</p>

          <p>This cost estimate is dated: 26.01.2017 – 15:23. Estimates are liable to change over time.</p>
        </details>
      </div>
    </form>
  </div>

  {{ params | dump }}

{% endblock %}
