.paas-summary-section {
  padding-top: $govuk-spacing-scale-3;
  padding-bottom: $govuk-spacing-scale-3;
  padding-left: $govuk-spacing-scale-3;
  padding-right: $govuk-spacing-scale-3;
  top: $govuk-spacing-scale-3;
  background-color: $govuk-grey-4;
  border: 10px $govuk-grey-3 solid;
  @include govuk-font-regular-16;
  position: -webkit-sticky;
  position: sticky;


  h2 {
    @include govuk-font-bold-24;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-child(even) td {
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
  }

  tr:nth-child(odd) td {
    padding-top: 10px;
  }

  td:nth-child(even) {
    text-align:right;
  }

  td:nth-child(odd) {
    padding-right: 10px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    @include govuk-font-regular-24;
    margin: 0;
    padding: 0;
  }

  .paas-price {
    @include govuk-font-bold-36;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
  }

  .paas-month {
    @include govuk-font-bold-16;
    margin-top: 0;
  }

  .paas-total {
    margin-bottom: $govuk-spacing-scale-1;
    padding-top: 40px;
  }

  .govuk-details {
    margin-bottom: 0;
  }

  caption {
    position: absolute;
    left: -9999em;
  }
}

.paas-calculator-lede {
  margin-bottom: $govuk-spacing-scale-9;
  @include govuk-font-regular-19;
}

.paas-example {
  @include govuk-font-regular-24;
}

.paas-pricing-calculator {

  .paas-service-list-inner {
    border-top: 5px solid $govuk-text-colour;
    padding-top: $govuk-spacing-scale-6;
  }

  .govuk-label {
    margin-bottom: 0;
  }

  .govuk-select {
    @include govuk-font-regular-16;
  }

  section form {
    border-top: 1px solid $govuk-border-colour;
    padding-top: 14px;
    margin: 0 15px;
  }

  section:first-of-type form {
    border-top: 0;
  }

  .service-version {
    padding-left: 0;
  }

  .govuk-button,
  .govuk-form-group {
    margin-bottom: 0;
  }

}
