main.with-subnav {
  padding-top: 0;

  .subnav {
    border-bottom: 1px solid $govuk-grey-2;
    margin: 0;
    margin-bottom: $govuk-spacing-scale-8;

    div:first-of-type {
      padding-left: 0;
    }

    strong {
      display: inline-block;
      padding-bottom: $govuk-spacing-scale-2;
      padding-top: $govuk-spacing-scale-2;
    }

    nav {
      margin: 0;
      padding-right: 0;
      text-align: right;

      a {
        border-bottom: $govuk-spacing-scale-1 solid transparent;
        display: inline-block;
        margin-left: $govuk-spacing-scale-2;
        padding-bottom: $govuk-spacing-scale-2;
        padding-top: $govuk-spacing-scale-2;
        text-decoration: none;
        transition: border-bottom .1s ease;

        &:last-of-type {
          padding-right: 0;
        }

        &.active {
          border-bottom: $govuk-spacing-scale-1 solid $govuk-black;
        }
      }
    }
  }
}
