<div class="govuk-o-grid subnav">
  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
    <strong>{{ organization.entity.name }}</strong>
  </div>

  <nav class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    <a href="/spaces/{{ organization.metadata.guid }}" class="govuk-link active">
      Org overview
    </a>

    <a href="/users/{{ organization.metadata.guid }}" class="govuk-link">
      Team members
    </a>
  </nav>
</div>
  