<div class="govuk-o-grid subnav">
  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
    <strong>{{ organization.entity.name }}</strong>
  </div>

  <nav class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    <a href="/spaces/{{ organization.metadata.guid }}" class="govuk-link active">
    <a href="{{ linkTo('admin.organizations.view', {organizationGUID: organization.metadata.guid}) }}" class="govuk-link {% if not routePartOf('admin.organizations.users') %} active {% endif %}">
      Overview
    </a>

    <a href="{{ linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid}) }}" class="govuk-link {% if routePartOf('admin.organizations.users') %} active {% endif %}">
      Members
    </a>
  </nav>
</div>
