{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Overview
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Service</span>
        {{ service.entity.name }}
      </h1>

      <ul class="overview-tab">
        <li class="active">
          <a href="{{
            linkTo(
              'admin.organizations.spaces.services.view',
              {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid }
            ) }}">Overview</a>
        </li>
        <li>
          <a href="{{
            linkTo(
              'admin.organizations.spaces.services.metrics.view',
              {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid }
            ) }}">Metrics</a>
        </li>
      </ul>

      {{ govukTable({
        caption: 'Service details',
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: 'Name'
            },
            {
              text: service.entity.name
            }
          ],
          [
            {
              text: 'Type'
            },
            {
              text: service.service_plan.service.entity.label | default('User Provided Service')
            }
          ],
          [
            {
              text: 'Plan'
            },
            {
              text: service.service_plan.entity.name | default('N/A')
            }
          ],
          [
            {
              text: 'State'
            },
            {
              text: service.entity.last_operation.state | default('N/A')
            }
          ],
          [
            {
              text: 'Tags'
            },
            {
              text: service.entity.tags | join(', ')
            }
          ]
        ]
      }) }}

      <h4 class="govuk-heading-s">On the commandline</h4>

      <p>You can also view the same information on the commandline, to see details for all of your services use:</p>

      <p>
        <code>cf services</code>
      </p>

      <a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-the-cloud-foundry-command-line" class="govuk-link">
        Read more about using PaaS on the commandline.
      </a>
    </div>
  </div>
{% endblock %}
