.space-wrapper {
  a {
    display: block;
  }
}

.space {
  background-color: $govuk-grey-4;
  border: 1px solid $govuk-border-colour;
  padding-top: $govuk-spacing-scale-5;
  padding-bottom: $govuk-spacing-scale-4;
  padding-right: $govuk-spacing-scale-3;
  padding-left: $govuk-spacing-scale-3;
  margin-right: $govuk-spacing-scale-3;
  margin-left: $govuk-spacing-scale-3;
  margin-bottom: $govuk-spacing-scale-2;
  transition: background-color .1s ease;
  text-align: left;
  @include govuk-font-regular-16;

  &:hover {
    border: 2px solid $govuk-blue;
  }

  h4 {
    @include govuk-font-regular-16;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: $govuk-spacing-scale-3;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  li {
    display: inline;
  }

  h3 {
    @include govuk-font-bold-24;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .running::before, .stopped::before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 2px;
  }

  .running{
    width:1%;
    white-space:nowrap;
    &::before {
      background-color: $govuk-button-colour;
    }
  }

  .stopped {
    margin-left: $govuk-spacing-scale-3;
    &::before {
      background-color: $govuk-grey-2;
    }
  }

  & + h2 {
    margin-top: $govuk-spacing-scale-6 * 3;
  }

  .paas-caption {
    display: block;
    color: black;
    @include govuk-font-regular-16;
  }

  @include mq($until: tablet) {

    h3 {
      margin-bottom: $govuk-spacing-scale-1;
      text-decoration: underline;
    }

    h4 {
      margin-top: $govuk-spacing-scale-3;
      margin-bottom: $govuk-spacing-scale-1;
      text-decoration: underline;
    }
  }
}

.space-information {
  color: $govuk-text-colour;
}
