PATH_add ./bin
export OAUTH_CLIENT_ID="paas-admin"
export OAUTH_CLIENT_SECRET="oohilovesecrets"
export AUTH_SERVER_URL="https://login.bosh-lite.com"
export TOKEN_SERVER_URL="https://uaa.bosh-lite.com"
