export PATH="./bin:$PATH"
export CF_API_ENDPOINT="https://api.${DEPLOY_ENV}.dev.cloudpipeline.digital"
export CF_AUTH_ENDPOINT=$(cf curl /v2/info | jq -r .authorization_endpoint)
export CF_TOKEN_ENDPOINT=$(cf curl /v2/info | jq -r .token_endpoint)
export CF_CLIENT_ID="paas-admin"
export CF_CLIENT_SECRET=$(aws s3 cp s3://gds-paas-${DEPLOY_ENV}-state/cf-secrets.yml - | awk '/uaa_clients_paas_admin_secret/ { print $2 }')
export SKIP_TLS_VERIFICATION="true"
export CONTRACT_TEST_TOKEN=$(cf oauth-token | cut -d ' ' -f2)
