Billing month,Org,Region,Unique ID,Spend without VAT
{%- for billablesForOrg in billablesByOrganisation %}
{{ month }},{{ billablesForOrg.org.name }},{{ location }},{{ billablesForOrg.org.guid }},£{{ (billablesForOrg.exVAT + (billablesForOrg.exVAT * adminFee)) | currency(2) }}
{%- endfor %}
