{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/panel/macro.njk" import govukPanel %}
{% from "@govuk-frontend/back-link/macro.njk" import govukBackLink %}
{% from "@govuk-frontend/details/macro.njk" import govukDetails %}

{% block page_title %}
  Services
{% endblock %}

{% block main %}
  <pre>{{ services | dump }}</pre>
{% endblock %}
