<details class="govuk-details" role="group">
  <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="govuk-details__summary-text">
      What are events?
    </span>
  </summary>

  <div class="govuk-details__text" aria-hidden="true">
    <p class="govuk-body">
      Events are a log of actions made by actors against targets.
    </p>

    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Actors
      </span>
      are users making API requests, or other APIs acting on behalf of users.
    </p>

    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Targets
      </span>
      are resources being acted upon. For example:
      <ul class="govuk-list govuk-list--bullet">
        <li>apps</li>
        <li>services</li>
        <li>spaces</li>
        <li>other users</li>
      </ul>
    </p>
  </div>
</details>
