{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Updated a team member
{% endblock %}

{% block content %}
  {{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukBackLink({
      text: "See all team members",
      href: linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid})
    }) }}
  </div>

  <div class="govuk-grid-column-one-half govuk-!-pt-r1 text-right">
    
  </div>

  <div class="govuk-grid-column-full">
    {{ govukPanel({
      titleText: "Success!",
      text: "We've updated the user"
    }) }}
  </div>
</div>
{% endblock %}
