.user-roles {
 h3 {
  @include govuk-font($size: 19, $weight: bold);;
 }

 p {
  @include govuk-font($size: 19);;
 }
}

table.user-list {
  .name {
    min-width: 280px;
    width: 20%;
  }

  .authentication {
    width: 15%;
  }

  th.is-billing-manager {
    width: 15%;
  }

  th.is-org-manager {
    width: 15%;
  }

  th.is-org-auditor {
    width: 15%;
  }

  th.spaces {
    width: 20%;
  }

  img.tick {
    height: 20px;
    width: 20px;
  }
}

.paas-remove-user {
  button + a {
    display: inline-block;
    margin-left: 15px;
    margin-top: 8px;
  }
}
