table.permissions {
  th.name {
    min-width: 280px;
    width: 35%;
  }
}

.user-permission-block {
  margin-bottom: govuk-spacing(3);
}

.user-permission-block--shaded {
  background-color: $app-super-light-grey;
}

.user-permission-block--padded {
  padding: govuk-spacing(3);
}