{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk-frontend/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Update a team member
{% endblock %}

{% block content %}
  {{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "See all team members",
      href: linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid})
   }) }}

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Team member</span>
      {{ user.entity.username }}
    </h1>

    {{ govukTable({
      rows: [
        [
          {
            text: "Email"
          },
          {
            text: user.entity.username
          }
        ]
      ]
    }) }}

    {% if errors and (errors).length > 0 %}
      {{ govukErrorSummary({
        titleText: "Error validating the update",
        descriptionText: "",
        errorList: errors | map({
          text: "message",
          href: "join('', ['#', field])"
        })
      }) }}
    {% endif %}

    {% if not isActive %}
      <form method="post" action="{{ linkTo('admin.organizations.users.invite.resend', {organizationGUID: organization.metadata.guid, userGUID: user.metadata.guid}) }}" class="govuk-!-mt-r6">
        <input type="hidden" name="_csrf" value="{{ context.csrf }}" />
        <p>It would appear the user did not setup their account yet.</p>
        {{ govukButton({
          text: "Resend user invite",
          preventDoubleClick: true
        }) }}
      </form>
    {% endif %}

    <form method="post" class="govuk-!-mt-r6">
      <input type="hidden" name="_csrf" value="{{ context.csrf }}" />
      {% include "./permissions.njk" %}

      {{ govukButton({
        text: "Save role changes",
        preventDoubleClick: true
      }) }}
    </form>

    <a href="{{ linkTo('admin.organizations.users.delete', {organizationGUID: organization.metadata.guid, userGUID: user.metadata.guid}) }}" class="govuk-link">
      Remove user from Organisation
    </a>
  </div>
</div>
{% endblock %}
