{% macro roleCheckbox(params) %}
  <input type="hidden" value="{{ params.values[params.roleCategory][params.guid][params.roleName].current }}" name="{{ params.roleCategory }}[{{ params.guid }}][{{ params.roleName }}][current]">
  {% if params.disabled %}
    <input type="hidden" value="{{ params.values[params.roleCategory][params.guid][params.roleName].desired }}" name="{{ params.roleCategory }}[{{ params.guid }}][{{ params.roleName }}][desired]">
  {% endif %}
  <div class="govuk-form-group">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input
          class="govuk-checkboxes__input"
          id="{{ params.roleCategory }}[{{ params.guid }}][{{ params.roleName }}]"
          name="{{ params.roleCategory }}[{{ params.guid }}][{{ params.roleName }}][desired]"
          type="checkbox"
          {{ "disabled" if params.disabled }}
          {{ "checked" if params.values[params.roleCategory][params.guid][params.roleName].desired == '1' }}
          value="1">
        <label class="govuk-label govuk-checkboxes__label" for="{{ params.roleCategory }}[{{ params.guid }}][{{ params.roleName }}]">
          <span>{{ params.name }}</span>
        </label>
      </div>
    </div>
  </div>
{% endmacro %}
<h2 class="govuk-heading-l">Set org and space roles</h2>
<h4 class="govuk-heading-s">Organisation level roles</h4>
<details class="govuk-details" role="group">
  <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="govuk-details__summary-text">
      What can these roles do?
    </span>
  </summary>
  <div class="govuk-details__text" aria-hidden="true">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Org managers
      </span>
      can create/delete spaces and edit user roles.  The Org Managers would
      typically be senior staff: for example, you might choose to grant the
      role to your technical architect and a lead developer.
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Org billing managers
      </span>
      are the points of contact for billing
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Org auditors
      </span>
      can view all spaces but cannot edit them. This role is useful for viewing
      app data without modifying it, for example, monitoring time-series
      metrics data.
    </p>
  </div>
</details>
<table id="roles" class="govuk-table permissions">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header name" scope="col">Org name</th>
      <th class="govuk-table__header" scope="col">Org manager</th>
      <th class="govuk-table__header" scope="col">Org billing manager</th>
      <th class="govuk-table__header" scope="col">Org auditor</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">{{ organization.entity.name }}</th>
      <td class="govuk-table__cell ">
        {{ roleCheckbox({
          name: 'Org manager',
          roleCategory: 'org_roles',
          roleName: 'managers',
          guid: organization.metadata.guid,
          values: values,
          disabled: (managers | length < 2) and (values.org_roles[organization.metadata.guid].managers.current == '1')
        }) }}
      </td>
      <td class="govuk-table__cell ">
        {{ roleCheckbox({
          name: 'Billing manager',
          roleCategory: 'org_roles',
          roleName: 'billing_managers',
          guid: organization.metadata.guid,
          values: values,
          disabled: (billingManagers | length < 2) and (values.org_roles[organization.metadata.guid].billing_managers.current == '1')
        }) }}
      </td>
      <td class="govuk-table__cell ">
        {{ roleCheckbox({
          name: 'Org auditor',
          roleCategory: 'org_roles',
          roleName: 'auditors',
          guid: organization.metadata.guid,
          values: values,
          disabled: false
        }) }}
      </td>
    </tr>
  </tbody>
</table>
<h4 class="govuk-heading-s">Space level roles</h4>
<details class="govuk-details" role="group">
  <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="govuk-details__summary-text">
      What can these roles do?
    </span>
  </summary>
  <div class="govuk-details__text" aria-hidden="true">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Space managers
      </span>
      can grant user roles within the space, and change properties of the
      space, such as the name. Being a Space Manager does not grant the ability
      to change apps or services, so you need the Space Developer role as well
      if you want to be able to do both things.
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Space developers
      </span>
      can push, start and stop apps, and create and bind services.
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">
        Space auditors
      </span>
      can view spaces but cannot edit them. This role is useful for viewing app
      data without modifying it, for example, monitoring time-series metrics
      data.
    </p>
  </div>
</details>
<table class="govuk-table permissions">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header name" scope="col">Space name</th>
      <th class="govuk-table__header" scope="col">Space manager</th>
      <th class="govuk-table__header" scope="col">Space developer</th>
      <th class="govuk-table__header" scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for space in spaces %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">{{ space.entity.name }}</th>
        <td class="govuk-table__cell ">
          {{ roleCheckbox({
            name: 'Space manager',
            roleCategory: 'space_roles',
            roleName: 'managers',
            guid: space.metadata.guid,
            values: values,
            disabled: false
          }) }}
        </td>
        <td class="govuk-table__cell ">
          {{ roleCheckbox({
            name: 'Space developer',
            roleCategory: 'space_roles',
            roleName: 'developers',
            guid: space.metadata.guid,
            values: values,
            disabled: false
          }) }}
        </td>
        <td class="govuk-table__cell ">
          {{ roleCheckbox({
            name: 'Space auditor',
            roleCategory: 'space_roles',
            roleName: 'auditors',
            guid: space.metadata.guid,
            values: values,
            disabled: false
          }) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
