$graphcolours: (
  "1": govuk-colour("orange"),
  "2": govuk-colour("pink"),
  "3": govuk-colour("light-blue"),
  "4": govuk-colour("brown"),
  "5": govuk-colour("green"),
  "6": govuk-colour("turquoise"),
);

svg.govuk-paas-line-graph {
  max-width: 960px;

  line,
  path {
    vector-effect: non-scaling-stroke;
  }

  path {
    &.gaps,
    &.series {
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }

    &.gaps {
      stroke: govuk-colour("mid-grey");
      stroke-width: 1px;
    }

    &.series {
      stroke: govuk-colour("blue");
      stroke-width: 2.5px;
    }
  }

  .legend rect {
    fill: govuk-colour("blue");
  }

  @each $graphcolour, $i in $graphcolours {
    .legend-#{$graphcolour} rect {
      fill: $i;
    }

    path.series-#{$graphcolour} {
      stroke: $i;
    }
  }

  .axis {
    text {
      font-size: 16px;
    }
  }

  .grid line,
  .grid path {
    stroke: govuk-colour("mid-grey");
    stroke-opacity: .75;
    shape-rendering: crispEdges;
  }
}
