.paas-download-section {
  margin-bottom: govuk-spacing(7) + govuk-spacing(1);
  margin-top: govuk-spacing(3);
  margin-left: 1px;
  margin-right: 1px;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
  padding-left: govuk-spacing(3)/2;
  padding-right: govuk-spacing(3)/2;
  background-color: govuk-colour("light-grey");
  border: 10px govuk-colour("light-grey") solid;
  @include govuk-font($size: 19);;

  h3 {
    @include govuk-font($size: 19, $weight: bold);;
    margin-bottom: govuk-spacing(1);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  p {
    margin-top: 0;
  }
}
