.paas-heading-l {
  @include govuk-font($size: 36, $weight: bold);;
  margin-bottom: govuk-spacing(3);
}

.paas-heading-lede {
  @include govuk-font($size: 24);;
  margin-bottom: govuk-spacing(6);
}

.paas-sections {
  border-bottom: 1px solid $govuk-border-colour;
  padding-left: 0;
  margin-bottom: govuk-spacing(8);

  li {
    list-style: none;
    @include govuk-font($size: 24, $weight: bold);;
  }

  a {
  	text-decoration: none;
  }
}

.paas-section {
  padding-top: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  border-top: 1px solid $govuk-border-colour;
}

.paas-info-section {
  @include govuk-font($size: 19);;

  h3 {
    @include govuk-font($size: 19, $weight: bold);;
  }

  p {
    margin-top: govuk-spacing(1);
  }
}

.paas-download-section {
  margin-bottom: govuk-spacing(7) + govuk-spacing(1);
  margin-top: govuk-spacing(3);
  margin-left: 1px;
  margin-right: 1px;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
  padding-left: govuk-spacing(3)/2;
  padding-right: govuk-spacing(3)/2;
  background-color: govuk-colour("grey-4");
  border: 10px govuk-colour("grey-3") solid;
  @include govuk-font($size: 19);;

  h3 {
    @include govuk-font($size: 19, $weight: bold);;
    margin-bottom: govuk-spacing(1);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  p {
    margin-top: 0;
  }
}
