{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/govuk/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Organisations
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="paas-heading-l">You’re a member of {{organizations.length}} organisations</h1>

  <h2 class="paas-heading-lede">Choose an organisation</h2>

  <ul class="paas-sections">
    {% for organization in organizations %}
      <li class="paas-section">
        <a href="{{linkTo('admin.organizations.view', {organizationGUID: organization.metadata.guid})}}" class="govuk-link"> {{ organization.entity.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="paas-heading-lede">Installing the Cloud Foundry command line will let you operate GOV.UK PaaS from your computer terminal.</h2>
    </div>
  </div>

  <div class="govuk-grid-row paas-download-section">
    <div class="govuk-grid-column-two-thirds">
      <h3>Download the Cloud Foundry command line tool</h3>
      <p>You’ll need to do this to operate GOV.UK PaaS from your terminal. You can download the cf command line tool using one of the installation options or by visiting the <a href="https://github.com/cloudfoundry/cli#downloads" class="govuk-link">github page</a>.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3>Installation options:</h3>
      <ul>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=macosx64&source=github" class="govuk-link">Mac OS X 64 bit</a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=windows64&source=github" class="govuk-link">Windows 64 bit</a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=debian64&source=github" class="govuk-link">Debian 64 bit</a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=redhat64&source=github" class="govuk-link">RedHat 64 bit</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Once you’ve installed the cf CLI</h2>
    </div>
  </div>


  <div class="paas-info-section">
    <div class="govuk-grid-row paas-info-section">
      <div class="govuk-grid-column-one-third">
        <h3><a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-the-cloud-foundry-command-line" class="govuk-link">Set up and deploy your first app</a></h3>
        <p>View our guide on logging in and deploying your first app to GOV.UK PaaS.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3><a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html" class="govuk-link">Learn more about orgs and spaces</a></h3>
        <p>Get familiar with the basic concepts of Cloud Foundry-based platforms, and what setting up environments looks like.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3><a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html#users-and-user-roles" class="govuk-link">Manage team members</a></h3>
        <p>Learn how to manage permission levels for your users using the command line tool (for org managers only).</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3><a href="https://status.cloud.service.gov.uk/" class="govuk-link">Get GOV.UK PaaS status updates</a></h3>
        <p>Check the status of GOV.UK PaaS, and see the availability of live applications and database connectivity. We recommend you sign up to this service to get alerts and incident updates.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3><a href="{{ linkTo("account.use-google-sso.view") }}" class="govuk-link">Set up Google single sign-on</a></h3>
        <p>GOV.UK PaaS supports Google single sign-on as an authentication method</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3><a href="{{ linkTo("account.use-microsoft-sso.view") }}" class="govuk-link">Set up Microsoft single sign-on</a></h3>
        <p>GOV.UK PaaS supports Microsoft single sign-on as an authentication method</p>
      </div>
    </div>
  </div>

{% endblock %}
