{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/govuk/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Organisations
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-l">Organisations</h1>

  <p class="govuk-body">
    There
    {{ organizations.length | plural('is', 'are') }}
    {{organizations.length}}
    {{ organizations.length | plural('organisation', 'organisations') }}
    which you can access.
  </h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">
          Name
        </th>
        <th scope="col" class="govuk-table__header">
          Lifecycle
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for org in organizations %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="{{ linkTo('admin.organizations.view', {organizationGUID: org.metadata.guid}) }}"
               class="govuk-link">
              {{ org.entity.name }}
            </a>
          </td>
          <td class="govuk-table__cell">
            {% if org.entity.quota.entity.name == 'default' %}
              Trial
            {% else %}
              Billable
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1 class="govuk-heading-l">Get started with the command line</h1>

  <p class="govuk-body">
    Installing the Cloud Foundry command line will let you operate GOV.UK PaaS
    from your computer terminal.
  </p>

  <div class="govuk-grid-row paas-download-section">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s">
        Download the Cloud Foundry command line tool
      </h3>

      <p class="govuk-body">
        You’ll need to do this to operate GOV.UK PaaS from your terminal.  You
        can download the cf command line tool using one of the installation
        options or by visiting the
        <a href="https://github.com/cloudfoundry/cli#downloads"
           class="govuk-link">
          github page
        </a>.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">
        Installation options
      </h3>

      <ul class="govuk-list">
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=macosx64&source=github"
             class="govuk-link">
            Mac OS X 64 bit
          </a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=windows64&source=github"
             class="govuk-link">
            Windows 64 bit
          </a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=debian64&source=github"
             class="govuk-link">
            Debian 64 bit
          </a>
        </li>
        <li>
          <a href="https://packages.cloudfoundry.org/stable?release=redhat64&source=github"
             class="govuk-link">
            RedHat 64 bit
          </a>
        </li>
      </ul>
    </div>
  </div>

  <h1 class="govuk-heading-l">Once you’ve installed the CF CLI</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Set up and deploy your first app
      </h2>

      <p class="govuk-body">
        <a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-the-cloud-foundry-command-line"
           class="govuk-link">
          View our guide
        </a>
        on logging in and deploying your first app to GOV.UK PaaS.
      </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Learn more about orgs and spaces
      </h2>

      <p class="govuk-body">
        <a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html"
           class="govuk-link">
          Get familiar
        </a>
        with the basic concepts of Cloud Foundry-based platforms, and what
        setting up environments looks like.
      </p>
    </div>
  </div>

  <h1 class="govuk-heading-l">Stay up to date</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Get GOV.UK PaaS status updates
      </h2>

      <p class="govuk-body">
        <a href="https://status.cloud.service.gov.uk/"
           class="govuk-link">
          Check the status
        </a>
        of GOV.UK PaaS, and see the availability of live applications and
        database connectivity.
      </p>

      <p class="govuk-body">
        We recommend you subscribe to this service to get alerts and incident
        updates.
      </p>
    </div>
  </div>

  <h1 class="govuk-heading-l">Increase the security of your account</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Set up Google single sign-on
      </h2>

      <p class="govuk-body">
        GOV.UK PaaS supports Google single sign-on as an authentication method.
      </p>

      <p class="govuk-body">
        <a href="{{ linkTo("account.use-google-sso.view") }}"
           class="govuk-link">
          Set up Google single sign-on
        </a>
      </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Set up Microsoft single sign-on
      </h2>

      <p class="govuk-body">
        GOV.UK PaaS supports Microsoft single sign-on as an authentication
        method.
      </p>

      <p class="govuk-body">
        <a href="{{ linkTo("account.use-microsoft-sso.view") }}"
           class="govuk-link">
          Set up Microsoft single sign-on
        </a>
      </p>
    </div>
  </div>

{% endblock %}
