<p class="govuk-body">
  This is showing the
  {{ times.historicTime | nicetimedelta(times.instantTime) }}
  {{ times.historicTime | timedeltaunits(times.instantTime) }}
  between
  {{ times.historicTime | nicetime }}
  {{ times.historicTime | nicedate }}
  and
  {{ times.instantTime | nicetime }}
  {{ times.instantTime| nicedate }}.
</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Quick time ranges
    </span>
  </summary>

  <div class="govuk-details__text">
    {% include "./offsets.njk" %}
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Custom time range
    </span>
  </summary>

  <div class="govuk-details__text">
    {% include "./filters.njk" %}
  </div>
</details>
