<form>
  <div class="govuk-form-group">
    <label class="govuk-label" for="start-time">Start time</label>
    <input type="datetime-local"
       id="start-time"
       name="start-time"
       class="govuk-input"
       value="{{times.historicTime}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="end-time">End time</label>
    <input type="datetime-local"
       id="end-time"
       name="end-time"
       class="govuk-input"
       value="{{times.instantTime}}">
  </div>

  <div class="govuk-form-group">
    <button class="govuk-button">Filter</button>
  </div>
</form>
