.marketplace-list, .service-details {
  figure {
    display: block;
    margin: 0;

    div {
      display: inline-block;
      height: 100px;
      margin-bottom: 1rem;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.marketplace-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: .5rem;

  @include govuk-media-query($from: tablet) {
    grid-template-columns: repeat(3, auto);
  }

  li {
    box-sizing: border-box;
    margin: 0;
    text-align: center;

    a {
      border: 5px solid transparent;
      display: inline-block;
      width: 100%;

      &:focus {
        background-color: transparent;
        border-color: govuk-colour("yellow");
        box-shadow: none;
      }

      &:hover {
        background: govuk-colour("light-grey");
      }
    }
  }
}

.service-details {
  figure {
    div {
      height: auto;
    }
    img {
      max-width: 150px;

      @include govuk-media-query($from: tablet) {
        max-width: 100%;
      }
    }
  }
}
