{% extends "../../layouts/govuk.njk" %}

{% block pageTitle %}
  Statement
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-l">
    Platform Admin
  </h1>

  <div class="govuk-grid-row govuk-grid-row-vertically-separated">
    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
      {% include "./homepage-costs.njk" %}
    </div>
    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
      {% include "./homepage-users.njk" %}
    </div>
    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
      {% include "./homepage-orgs.njk" %}
    </div>
  </div>

{% endblock %}
