<h2 class="govuk-heading-m">
  Organisation management
</h2>

<p class="govuk-body">
  <a class="govuk-link"
     href="{{ linkTo('admin.reports.organizations') }}">
    View trial and billable organisations
  </a>
</p>
