.paas-summary-section {
  @include govuk-font($size: 16);;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  border: 10px govuk-colour("light-grey") solid;
  position: -webkit-sticky;
  position: sticky;
  top: govuk-spacing(3);
  margin-top: 25px;

  h2 {
    @include govuk-font($size: 24, $weight: bold);;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td:nth-child(even) {
    text-align:right;
  }

  td:nth-child(odd) {
    padding-right: 10px;
  }

  button {
    @include govuk-font($size: 24);;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .paas-service-items {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .paas-service-price {
    padding-bottom: 10px;
  }

  .paas-service-heading {
    padding-top: 10px;
  }

  .paas-admin-fee {
    border-bottom: 1px solid $govuk-border-colour;

    td {
      padding-bottom: 10px;
      padding-top: 25px;
    }
  }

  .paas-price {
    @include govuk-font($size: 36, $weight: bold);;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
  }

  .paas-month {
    @include govuk-font($size: 16, $weight: bold);;
    margin-top: 0;
  }

  .paas-total {
    margin-bottom: govuk-spacing(1);
    margin-top: govuk-spacing(6);
  }

  .govuk-details {
    margin-bottom: 0;
  }

  caption {
    position: absolute;
    left: -9999em;
  }
}

.paas-calculator-lede {
  margin-bottom: govuk-spacing(9);
  @include govuk-font($size: 19);;
}

.paas-example {
  @include govuk-font($size: 24);;
}

.paas-service-list {
  caption {
    @include govuk-font($size: 24, $weight: bold);;
    margin-bottom: 20px;
  }

  th {
    text-align: left;
    border-bottom: 5px solid govuk-colour("black");
  }
}

.paas-service-selection {
  text-align: right;

  .govuk-form-group {
    display: inline-block;
    float: left;
    margin: 0;
    width: 80%;
  }

  select {
    @include govuk-font($size: 16);
  }


  button {
    @include govuk-font($size: 16);;
    background: none;
    border: none;
    box-shadow: none;
    color: govuk-colour("blue");
    cursor: pointer;
    display: inline-block;
    text-align: right;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 10px;
    min-width: 43px;
    
    &:focus {
      @include govuk-focused-text;
    }
  }
}

.paas-remove-button {
  &:focus {
    @include govuk-focused-text;
  }
}
