{% extends "../../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/frontend/components/radios/macro.njk" import govukRadios %}
{% from "@govuk-frontend/frontend/components/select/macro.njk" import govukSelect %}

{% macro stateFields(state, remove="NONE") %}
  <input type="hidden" name="rangeStart" value="{{ state.rangeStart }}" />
  <input type="hidden" name="rangeStop" value="{{ state.rangeStop }}" />
  {% for item in state.items %}
    {% if remove == "NONE" or remove != loop.index0 %}
      <input type="hidden" name="{{ "items[" + loop.index0 + "][planGUID]" }}" value="{{ item.planGUID }}" />
      <input type="hidden" name="{{ "items[" + loop.index0 + "][numberOfNodes]" }}" value="{{ item.numberOfNodes }}" />
      <input type="hidden" name="{{ "items[" + loop.index0 + "][memoryInMB]" }}" value="{{ item.memoryInMB }}" />
    {% endif %}
  {% endfor %}
{% endmacro %}

{% block page_title %}
  Pricing calculator
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="paas-heading-l">Estimate your monthly costs</h1>

      <p class="paas-calculator-lede">
        Service teams usually run 3 environments, such as:<br>
        Production, Integration and Staging.
      </p>
    </div>
  </div>

  <div class ="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds paas-service-list">
      <table class="govuk-table">
        <thead>
          <th>Service</th>
          <th>Select options</th>
        </thead>
        <tbody class="govuk-table__body">
          {% for serviceName, plans in state.plans | groupby("serviceName") %}
            {% for version, plans in plans | groupby("version") %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{ serviceName }} {{ version }}</td>
                <td class="govuk-table__cell ">
                  <form class="paas-service-selection" method="get">
                    {{ stateFields(state) }}
                    {% if plans.length > 1 %}
                      {{ govukSelect({
                        id: "service-" + serviceName + "-" + version,
                        name: "items[" + state.items.length + "][planGUID]",
                        items: plans | map({
                          text: "variant",
                          value: "planGUID"
                        })
                        }) }}
                        <input type="hidden" name="items[{{ state.items.length }}][numberOfNodes]" value="{{ plans[0].numberOfNodes }}" />
                        <input type="hidden" name="items[{{ state.items.length }}][storageInMB]" value="{{ plans[0].storageInMB }}" />
                    {% else %}
                      <input type="hidden" name="items[{{ state.items.length }}][planGUID]" value="{{ plans[0].planGUID }}"> 
                      {% if serviceName == "app" %}
                        <div style="width: 46%">
                          {{ govukSelect({
                            id: "nodes-" + serviceName + "-" + version,
                            name: "items[" + state.items.length + "][numberOfNodes]",
                            items: [
                              {text: "1 Instance", value: "1"},
                              {text: "2 Instances", value: "2"},
                              {text: "3 Instances", value: "3"},
                              {text: "4 Instances", value: "4"},
                              {text: "8 Instances", value: "8"},
                              {text: "16 Instances", value: "16"},
                              {text: "32 Instances", value: "32"},
                              {text: "64 Instances", value: "64"},
                              {text: "128 Instances", value: "128"}
                            ]
                          }) }}
                        </div>
                        <div style="width: 46%; margin-left: 14px; float:left">
                          {{ govukSelect({
                            id: "mem-" + serviceName + "-" + version,
                            name: "items[" + state.items.length + "][memoryInMB]",
                            items: [
                              {text: "64 MB", value: "64"},
                              {text: "128 MB", value: "128"},
                              {text: "256 MB", value: "256"},
                              {text: "1.0 GB", value: "1024"},
                              {text: "1.5 GB", value: "1536"},
                              {text: "2.0 GB", value: "2048"}
                            ]
                          }) }}
                        </div>
                      {% endif %}
                    {% endif %}
                    <button type="submit" class="paas-link-button">+ Add</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-one-third paas-summary-section">
      <h2>Estimated cost summary</h2>

      <p>
        Following prices are <strong>excluding vat</strong>.
      </p>

      <table>
        <caption>Services added</caption>
        {% for event in quote.events %}
          <tr>
            <td class="paas-service-heading">
              {{ event.resourceType }}
            </td>
            <td>
              <form method="get">
                {{ stateFields(state, remove=loop.index0) }}
                <button class="paas-remove-button" type="submit" arria-label="Remove">&times;</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              {% if event.resourceType == "app" %}
                {% if event.numberOfNodes > 0 %}
                  {{ event.numberOfNodes }} Instances
                {% endif %}
                {% if event.memoryInMB > 0 %}
                  {{ event.memoryInMB }} MB
                {% endif %}
              {% else %}
                {{ event.resourceName }}
              {% endif %}
            </td>
            <td class="paas-service-price">&pound;{{ event.price.exVAT | currency(2) }}</td>
          </tr>
        {% endfor %}
      </table>

      <p class="paas-total">Total estimated cost (ex. VAT):</p>

      <p class="paas-price">&pound; {{ quote.exVAT | currency(2) }}</p>
      <p class="paas-month">per month</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Why this cost might vary</span>
        </summary>
        <div class="govuk-details__text">
          <p>This estimate assumes constant usage at the levels you've provided. Final figures will vary as CPU/Postgres/ MySQL are charged based on hourly consumption and exchange rates will fluctuate.</p>

          <p>Valid for period of {{ state.rangeStart }} to {{ state.rangeStop }}. Estimates are liable to change over time.</p>
        </div>
      </details>
    </div>
  </div>

{% endblock %}
