{% extends "../../layouts/govuk.njk" %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Event
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Service Event</span>
    {{ service.entity.name }}
  </h1>

  {% include "../events/event.njk" %}

{% endblock %}
