{% extends "../services/_tabbed_layout.njk" %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Events
{% endblock %}

{% block insideTabs %}
  {% include "../events/totals.njk" %}

  {% include "../events/details.njk" %}

  <p class="govuk-body">
    {% if pagination.total_pages > 1 %}
      {% if page <= 1 %}
        <a class="govuk-link" disabled>Previous page</a>
      {% else %}
        <a class="govuk-link" href="{{
          linkTo(
            'admin.organizations.spaces.service.events.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: serviceGUID.metadata.guid, page: page-1}
          ) }}">Previous page</a>
      {% endif %}

      {% if pagination.next %}
        <a class="govuk-link" href="{{
          linkTo(
            'admin.organizations.spaces.service.events.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: serviceGUID.metadata.guid, page: page+1}
          ) }}">Next page</a>
      {% else %}
        <a class="govuk-link" disabled>Next page</a>
      {% endif %}
    {% endif %}
  </p>

  {% if events.length > 0 %}
    {% include "../events/target-events.njk" %}
  {% endif %}

{% endblock %}
