{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/table/macro.njk" import govukTable %}
{% from "@govuk-frontend/back-link/macro.njk" import govukBackLink %}

{% block page_title %}
  {{ application.entity.name }} - Application Overview
{% endblock %}

{% block main %}
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      {{ govukBackLink({
        text: 'Space: ' + space.entity.name,
        href: linkTo('admin.organizations.spaces.applications.view', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid})
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Application</span>
        {{ application.entity.name }}
      </h1>

      {{ govukTable({
        caption: 'Application details',
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: 'Name'
            },
            {
              text: application.entity.name
            }
          ],
          [
            {
              text: 'Detected Buildpack'
            },
            {
              text: application.entity.detected_buildpack
            }
          ],
          [
            {
              text: 'Instances'
            },
            {
              text: application.entity.running_instances + '/' + application.entity.instances
            }
          ],
          [
            {
              text: 'Memory'
            },
            {
              text: (application.entity.memory / 1024) | round(2) + 'gb'
            }
          ],
          [
            {
              text: 'Disk quota'
            },
            {
              text: (application.entity.disk_quota / 1024) | round(2) + 'gb'
            }
          ],
          [
            {
              text: 'Status'
            },
            {
              text: application.entity.state
            }
          ],
          [
            {
              text: 'SSH'
            },
            {
              text: application.entity.enable_ssh
            }
          ],
          [
            {
              text: 'URLs'
            },
            {
              text: application.entity.urls | join(", ")
            }
          ],
          [
            {
              text: 'Ports'
            },
            {
              text: application.entity.ports
            }
          ]
        ]
      }) }}

      <h4 class="govuk-heading-s">On the commandline</h4>

      <p>You can also view the same information on the commandline, to see details for all of your apps use:</p>

      <p>
        <code>cf apps</code>
      </p>

      <a href="https://docs.cloud.service.gov.uk/#setting-up-the-command-line" class="govuk-link">
        Read more about using PaaS on the commandline.
      </a>
    </div>
  </div>
{% endblock %}
