{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Success - You can now log in with Google SSO
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section>
        {{ govukPanel({
          titleText: "SSO Activation Successful"
        }) }}
        <p>
          You can now log in using {{ providerName | capitalize }} SSO. You have not been logged out now.
        </p>
        <a href="{{ linkTo("admin.home") }}">Back to account</a>
      </section>
    </div>
  </div>

{% endblock %}
