{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Sorry, there is a problem with the service - Unable to activate {{ providerName | capitalize }} SSO – GOV.UK PaaS
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem activating {{providerName | capitalize }} SSO for your account</h1>
      <p class="govuk-body">
        We were unable to activate {{providerName | capitalize }} SSO for your GOV.UK PaaS account.
        Please contact
        <a class="govuk-link" href="https://www.cloud.service.gov.uk/support">support</a>.
      </p>
      <a href="{{ linkTo("admin.home") }}">Back to account</a>
    </div>
  </div>
{% endblock %}
