<a class="admin-c-panel__link" href="{{ params.link }}">
  <div class="admin-c-panel admin-c-panel--navigation">
    <h2 class="admin-c-panel__title">
      {{ params.titleText }}
    </h2>
    <ul class="admin-c-panel__body">
    	<li>View spaces in the org</li>
    	<li>View apps within spaces</li>
    	<li>View org and space memory quotas</li>
    	<li>Manage team members</li>
    </ul>
  </div>
</a>
