{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/back-link/macro.njk" import govukBackLink %}
{% from "@govuk-frontend/panel/macro.njk" import govukPanel %}

{% block page_title %}
  Updated a team member
{% endblock %}

{% block main %}
<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
    {{ govukBackLink({
      text: "See all team members",
      href: linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid})
    }) }}
  </div>

  <div class="govuk-o-grid__item govuk-o-grid__item--one-half govuk-!-pt-r1 text-right">
    
  </div>

  <div class="govuk-o-grid__item govuk-o-grid__item--full">
    {{ govukPanel({
      titleText: "Success!",
      text: "We've updated the user"
    }) }}
  </div>
</div>
{% endblock %}
