{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "@govuk-frontend/frontend/components/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/frontend/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "@govuk-frontend/frontend/components/error-summary/macro.njk" import govukErrorSummary %}

{% block page_title %}
  Invite a new team member
{% endblock %}

{% block main %}
<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    {{ govukBackLink({
      text: "See all team members",
      href: linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid})
   }) }}

    <h2 class="govuk-heading-l">Invite a new team member</h2>
 
    {% if errors and (errors).length > 0 %}
      {{ govukErrorSummary({
        titleText: "Error validating invite",
        descriptionText: "",
        errorList: errors | map({
          text: "message",
          href: "join('', ['#', field])"
        })
      }) }}
    {% endif %}

    <form method="post" class="govuk-!-mt-r6">
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email",
        name: "email",
        type: "email",
        value: values.email,
        errorMessage: errors | query("[?field == 'email'].{text: message}") | first
      }) }}

      {% include "./permissions.njk" %}

      {{ govukButton({
        text: "Send invitation"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
