{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/frontend/components/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/frontend/components/details/macro.njk" import govukDetails %}

{% block page_title %}
  Team members
{% endblock %}

{% block main %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">
      Team members
    </h1>

    <p class="govuk-body-m">
      Organisation level users can manage and/or view information regarding user accounts, billing,
      resource quota for the organisation and spaces. To edit a member's role go to their profile page.
    </p>
  </div>

  <div class="govuk-grid-column-one-third text-right">
    {% if isAdmin or isManager %}
      {{ govukButton({
        text: "Invite a new member",
        href: linkTo('admin.organizations.users.invite', {organizationGUID: organization.metadata.guid})
      }) }}
    {% endif %}
  </div>

  <div class="govuk-grid-column-full">
    <details class="govuk-details" role="group">
      <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="govuk-details__summary-text">
          What can these roles do?
        </span>
      </summary>

      <div class="govuk-details__text user-roles" aria-hidden="true">
        <h3>Org manager</h3>
        <p>
          A user who can create and delete spaces within an org, and administer user roles, both within the org and its spaces. We recommend to have at least two org managers.
        </p>

        <h3>Org auditor</h3>
        <p>
          A user who can view quota allocation and user roles across the org. Auditors can't change any of these configurations.
        </p>

        <h3>Org billing manager</h3>
        <p>
          A user who can see billing, costs and quota information.
        </p>

        <p><strong>Tasks related to spaces are associated with space-level roles.</strong></p>
      </div>
    </details>
  </div>
</div>

<table class="govuk-table user-list">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header name" scope="col">Name</th>
      <th class="govuk-table__header is-org-manager" scope="col">Org manager</th>
      <th class="govuk-table__header is-billing-manager" scope="col">Org billing manager</th>
      <th class="govuk-table__header is-org-auditor" scope="col">Org auditor</th>
      <th class="govuk-table__header spaces" scope="col">Spaces assigned or can access</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for user in users %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {% if isAdmin or isManager %}
          <a href="{{ linkTo('admin.organizations.users.edit', {organizationGUID: organization.metadata.guid, userGUID: user.metadata.guid}) }}" class="govuk-link">
            {{ user.entity.username }}
          </a>
        {% else %}
          {{ user.entity.username }}
        {% endif%}
      </td>
      <td class="govuk-table__cell">
        {% if 'org_manager' in user.entity.organization_roles %}
          <img class="tick" alt="Yes" src="../static/images/tick.png">
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% if 'billing_manager' in user.entity.organization_roles %}
          <img class="tick" alt="Yes" src="../static/images/tick.png">
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% if 'org_auditor' in user.entity.organization_roles %}
          <img class="tick" alt="Yes" src="../static/images/tick.png">
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% for space in user.spaces %}
          <a href="{{ linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid}) }}" class="govuk-link">{{ space.entity.name }}</a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
