<div class="govuk-grid-row subnav">
  <div class="govuk-grid-column-one-third">
    <strong>{{ organization.entity.name }}</strong>
  </div>

  <nav class="govuk-grid-column-two-thirds">
    <a href="{{ linkTo('admin.organizations.view', {organizationGUID: organization.metadata.guid}) }}" class="govuk-link {% if not routePartOf('admin.organizations.users') and not routePartOf('admin.statement') %} active {% endif %}" class="govuk-link">
      Overview
    </a>

    <a href="{{ linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid}) }}" class="govuk-link {% if routePartOf('admin.organizations.users') %} active {% endif %}" class="govuk-link">
      Members
    </a>

    {% if isAdmin or isManager or isBillingManager %}
      <a href="{{ linkTo('admin.statement.dispatcher', {organizationGUID: organization.metadata.guid}) }}" class="govuk-link {% if routePartOf('admin.statement') %} active {% endif %}" class="govuk-link">
        Billing
      </a>
    {% endif %}
  </nav>
</div>
