{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Terms
{% endblock %}

{% block content %}
  {{ super() }}

  <form method="post" action="/agreements">
    <input type="hidden" name="_csrf" value="{{ context.csrf }}" />
    <div class="md">
      {{ document.content | markdown | safe }}
    </div>
    <input type="hidden" name="document_name" value="{{ document.name }}">
    {{ govukButton({
      text: "Agree",
      type: "submit"
    }) }}
  </form>
{% endblock %}
