{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/panel/macro.njk" import govukPanel %}
{% from "@govuk-frontend/back-link/macro.njk" import govukBackLink %}

{% block page_title %}
  Organisations
{% endblock %}

{% block main %}
  <h1 class="paas-heading-l">You’re a member of {{organizations.length}} organisations</h1>

  <h2 class="paas-heading-lede">Choose an organisation</h2>

  <ul class="paas-sections">
    {% for organization in organizations %}
      <li class="paas-section">
        <a href="{{linkTo('admin.organizations.view', {organizationGUID: organization.metadata.guid})}}"> {{ organization.entity.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h2 class="paas-heading-lede">Installing the Cloud Foundry command line will let you operate GOV.UK PaaS from your computer terminal.</p>
    </div>
  </div>

  <div class="govuk-o-grid paas-download-section">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h3>Download the Cloud Foundry command line tool</h3>
      <p>You’ll need to do this to operate GOV.UK PaaS from your terminal. You can download the cf command line tool using one of the installation options or by visiting the <a href="#">github page</a>.</p>
    </div>
    <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
      <h3>Installation options:</h3>
      <ul>
        <li>
          <a href="{{ cfDownloadLinkLocation }}macosx64{{ cfDownloadLinkSource }}">Mac OS X 64 bit</a>
        </li>
        <li>
          <a href="{{ cfDownloadLinkLocation }}windows64{{ cfDownloadLinkSource }}">Windows 64 bit</a>
        </li>
        <li>
          <a href="{{ cfDownloadLinkLocation }}debian64{{ cfDownloadLinkSource }}">Debian 64 bit</a>
        </li>
        <li>
          <a href="{{ cfDownloadLinkLocation }}redhat64{{ cfDownloadLinkSource }}">RedHat 64 bit</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--full">
      <h2>Once you’ve installed the cf CLI</h2>
    </div>
  </div>


  <div class="paas-info-section">
    <div class="govuk-o-grid paas-info-section">
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h3><a href="{{ documentationLink }}setting-up-the-command-line">Setup and deploy your first app</a></h3>
        <p>View our guide on logging in and deploying your first app to GOV.UK PaaS.</p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h3><a href="{{ documentationLink }}organisations-spaces-amp-targets">Learn more about orgs and spaces</a></h3>
        <p>Get familiar with the basic concepts of Cloud Foundry-based platforms, and what setting up environments looks like.</p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h3><a href="{{ documentationLink }}managing-users">Manage team members</a></h3>
        <p>Learn how to manage permission levels for your users using the command line tool (for org managers only).</p>
      </div>
    </div>
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h3><a href="{{ documentationLink }}system-status-alerts-and-updates">Get GOV.UK PaaS updates</a></h3>
        <p>Discover how to get system status alerts and updates about new features.</p>
      </div>
    </div>
  </div>

{% endblock %}
