{%- macro fmt(val, units) -%}
  {%- if units === 'Bytes' -%}
    {%- if val | nan %}{{ 0 | bytestohumancsv }}{% else %}{{ val | bytestohumancsv }}{% endif %}
  {%- elseif units === 'Percent' -%}
    {%- if val | nan %}{{ 0 | round(2) }}%{% else %}{{ val | round(2) }}%{% endif %}
  {%- else -%}
    {%- if val | nan %}{{ 0 | round(2) }}{% else %}{{ val | round(2) }}{% endif %}
  {%- endif -%}
{%- endmacro -%}
Service,Time,Value{{ "\n" -}}
{% for series in metricData.seriesArray[0].metrics -%}
  {%- set row = [serviceLabel, series.date | dateTime, fmt(series.value, metricData.units)] -%}
  {{- row | join(",") }}{{ "\n" -}}
{% endfor -%}
