{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}
{% from "./metric.macro.njk" import metric %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}

<div class="border-bottom-box">
  <p>{{ govukTag({text: "experimental"}) }}</p>

  <p class="govuk-body">
    Backing service metrics is a new feature under active development.
    Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk" class="govuk-link">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> if you have any feedback.
  </p>
</div>

<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Currently the available metrics for {{serviceLabel}} are:</p>
      <ul class="govuk-list">
        <li><a href="#load-avg" class="govuk-link">Load avg</a></li>
        <li><a href="#memory" class="govuk-link">Memory</a></li>
        <li><a href="#disk-usage" class="govuk-link">Disk usage</a></li>
        <li><a href="#disk-quota" class="govuk-link">Disk quota</a></li>
        <li><a href="#disk-rw" class="govuk-link">Disk RW</a></li>
        <li><a href="#network-io" class="govuk-link">Network IO</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      {% include "./range-picker.njk" %}
    </div>
  </div>
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'load-avg',
    format: 'number',
    titleHTML: 'Load avg',
    descriptionHTML: 'TODO load avg',
    chart: drawLineGraph(
      'load avg',
      'Number',
      '.2r',
      metricSeries['loadAvg']
    ),
    units: 'Number',
    metric: 'loadAvg',
    summaries: metricSummaries['loadAvg'],
    downloadLink: downloadLink
  }) }}
</div>

{% endblock %}
