{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}
{% from "./metric.macro.njk" import metric %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}

<div class="border-bottom-box">
  <p>{{ govukTag({text: "experimental"}) }}</p>

  <p class="govuk-body">
    Backing service metrics is a new feature under active development.
    Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk" class="govuk-link">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> if you have any feedback.
  </p>
</div>

<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Currently the available metrics for {{serviceLabel}} are:</p>
      <ul class="govuk-list">
        <li><a href="#load-average" class="govuk-link">Load average</a></li>
        <li><a href="#memory" class="govuk-link">Memory</a></li>
        <li><a href="#elasticsearch-indices-count" class="govuk-link">Elasticsearch indices count</a></li>
        <li><a href="#disk-usage" class="govuk-link">Disk usage</a></li>
        <li><a href="#disk-reads" class="govuk-link">Disk reads</a></li>
        <li><a href="#disk-writes" class="govuk-link">Disk writes</a></li>
        <li><a href="#network-in" class="govuk-link">Network In</a></li>
        <li><a href="#network-out" class="govuk-link">Network Out</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      {% include "./range-picker.njk" %}
    </div>
  </div>
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'load-average',
    format: 'number',
    titleHTML: 'Load average',
    descriptionHTML: 'How much computational work elasticsearch is doing. High load average may indicate you need to reduce your usage or <a href=\"https://docs.cloud.service.gov.uk/deploying_services/elasticsearch/#upgrade-elasticsearch-service-plan" class=\"govuk-link\">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'load average',
      'Load',
      '.2r',
      metricSeries['loadAvg']
    ),
    units: 'Load',
    metric: 'loadAvg',
    summaries: metricSummaries['loadAvg'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'elasticsearch-indices-count',
    format: 'number',
    titleHTML: 'Elasticsearch indices count',
    descriptionHTML: 'The number of indices present in elasticsearch. Large number of indices may indicate a bug in your application or require you to <a href=\"https://docs.cloud.service.gov.uk/deploying_services/elasticsearch/#upgrade-elasticsearch-service-plan" class=\"govuk-link\">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'elasticsearch indices count',
      'Number',
      '.2r',
      metricSeries['elasticsearchIndicesCount']
    ),
    units: 'Number',
    metric: 'elasticsearchIndicesCount',
    summaries: metricSummaries['elasticsearchIndicesCount'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'memory',
    format: 'number',
    titleHTML: 'Memory usage',
    descriptionHTML: 'Percentage of allocated memory elasticsearch is using. High values may indicate you need to optimise your elasticsearch queries or <a href=\"https://docs.cloud.service.gov.uk/deploying_services/elasticsearch/#upgrade-elasticsearch-service-plan" class=\"govuk-link\">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'memory',
      'Percent',
      '.2r',
      metricSeries['memoryUsed']
    ),
    units: 'Percent',
    metric: 'memoryUsed',
    summaries: metricSummaries['memoryUsed'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'disk-usage',
    format: 'number',
    titleHTML: 'Disk usage',
    descriptionHTML: 'Percentage of allocated storage elasticsearch is using. If elasticsearch runs out of disk space, the service will stop working. High values may indicate you need to reduce elasticsearch usage or <a href=\"https://docs.cloud.service.gov.uk/deploying_services/elasticsearch/#upgrade-elasticsearch-service-plan" class=\"govuk-link\">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'disk',
      'Percent',
      '.2r',
      metricSeries['diskUsed']
    ),
    units: 'Percent',
    metric: 'diskUsed',
    summaries: metricSummaries['diskUsed'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'disk-reads',
    format: 'number',
    titleHTML: 'Disk read rate',
    descriptionHTML: 'The average number of disk read operations elasticsearch is performing per second.',
    chart: drawLineGraph(
      'disk reads',
      'Reads per second',
      '.2r',
      metricSeries['diskReads']
    ),
    units: 'Reads per second',
    metric: 'diskReads',
    summaries: metricSummaries['diskReads'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'disk-writes',
    format: 'number',
    titleHTML: 'Disk write rate',
    descriptionHTML: 'The average number of disk write operations elasticsearch is performing per second.',
    chart: drawLineGraph(
      'disk writes',
      'Writes per second',
      '.2r',
      metricSeries['diskWrites']
    ),
    units: 'Writes per second',
    metric: 'diskWrites',
    summaries: metricSummaries['diskWrites'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'network-in',
    format: 'number',
    titleHTML: 'Network in',
    descriptionHTML: 'The number of bytes received by elasticsearch.',
    chart: drawLineGraph(
      'network bytes received',
      'Bytes per second',
      '.2r',
      metricSeries['networkIn']
    ),
    units: 'Bytes per second',
    metric: 'networkIn',
    summaries: metricSummaries['networkIn'],
    downloadLink: downloadLink
  }) }}
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'network-out',
    format: 'number',
    titleHTML: 'Network out',
    descriptionHTML: 'The number of bytes sent by elasticsearch.',
    chart: drawLineGraph(
      'network bytes send',
      'Bytes per second',
      '.2r',
      metricSeries['networkOut']
    ),
    units: 'Bytes per second',
    metric: 'networkOut',
    summaries: metricSummaries['networkOut'],
    downloadLink: downloadLink
  }) }}
</div>
{% endblock %}
