{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}
{% from "./metric.macro.njk" import metric %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}

<div class="border-bottom-box">
  <p>{{ govukTag({text: "experimental"}) }}</p>

  <p class="govuk-body">
    Backing service metrics is a new feature under active development.
    Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk" class="govuk-link">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> if you have any feedback.
  </p>
</div>

<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Currently the available metrics for {{serviceLabel}} are:</p>
      <ul class="govuk-list">
        <li><a href="#cpu-utilisation" class="govuk-link">CPU utilisation</a></li>
        <li><a href="#memory-used" class="govuk-link">Memory used</a></li>
        <li><a href="#swap-memory-used" class="govuk-link">Swap memory used</a></li>
        <li><a href="#evictions" class="govuk-link">Evictions</a></li>
        <li><a href="#connection-count" class="govuk-link">Connection count</a></li>
        <li><a href="#cache-hits" class="govuk-link">Cache hits</a></li>
        <li><a href="#cache-misses" class="govuk-link">Cache misses</a></li>
        <li><a href="#item-count" class="govuk-link">Item count</a></li>
        <li><a href="#network-bytes-in" class="govuk-link">Network bytes in</a></li>
        <li><a href="#network-bytes-out" class="govuk-link">Network bytes out</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      {% include "./range-picker.njk" %}
    </div>
  </div>
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'cpu-utilisation',
    format: 'percentile',
    titleHTML: 'CPU Utilisation',
    descriptionHTML: 'How much computational work redis is doing. High CPU Utilisation may indicate you need to reduce your usage
        or <a href="https://docs.cloud.service.gov.uk/deploying_services/redis/#redis-service-plans" class="govuk-link">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'percentage CPU Utilisation',
      'Percent',
      '.2r',
      metricSeries['mCPUUtilization']
    ),
    units: 'Percent',
    metric: 'mCPUUtilization',
    summaries: metricSummaries['mCPUUtilization'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'memory-used',
    format: 'bytes',
    titleHTML: 'Memory used',
    descriptionHTML: 'The total amount of memory redis is using to store your data and redis&apos;
      internal buffers. If redis reaches its memory limit and cannot evict any
      keys it will return errors when executing commands that increase memory
      use.',
    chart: drawLineGraph(
      'bytes used for the cache',
      'Bytes',
      '.2s',
      metricSeries['mBytesUsedForCache']
    ),
    units: 'Bytes',
    metric: 'mBytesUsedForCache',
    summaries: metricSummaries['mBytesUsedForCache'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'swap-memory-used',
    format: 'bytes',
    titleHTML: 'Swap memory used',
    descriptionHTML: 'If redis is running low on memory it will start to swap memory onto the hard disk. If redis is using more than 50 <abbr title="MegaBytes">MB</abbr>
      of swap memory you may need to reduce your usage or <a href="https://docs.cloud.service.gov.uk/deploying_services/redis/#redis-service-plans" class="govuk-link">update your service to use a bigger plan</a>.',
    chart: drawLineGraph(
      'bytes used in swap memory',
      'Bytes',
      '.2s',
      metricSeries['mSwapUsage']
    ),
    units: 'Bytes',
    metric: 'mSwapUsage',
    summaries: metricSummaries['mSwapUsage'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'evictions',
    titleHTML: 'Evictions',
    descriptionHTML: 'Redis will evict keys when it reaches its configured memory limit. It will try to remove less recently used keys first, but only among keys
      that have an EXPIRE set. If there are no keys left to evict redis will return errors when executing commands that increase memory use.',
    chart: drawLineGraph(
      'number of keys evicted by Redis',
      'Number',
      '.2s',
      metricSeries['mEvictions']
    ),
    units: 'Number',
    metric: 'mEvictions',
    summaries: metricSummaries['mEvictions'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'connection-count',
    titleHTML: 'Connection count',
    descriptionHTML: 'How many open connections there are to redis. High values may indicate problems with your applications&apos; connection management.
      Zero values may indicate that redis is unavailable, or that your applications cannot connect to the database.',
    chart: drawLineGraph(
      'number of connections to Redis',
      'Number',
      '.2r',
      metricSeries['mCurrConnections']
    ),
    units: 'Number',
    metric: 'mCurrConnections',
    summaries: metricSummaries['mCurrConnections'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'cache-hits',
    titleHTML: 'Cache hits',
    descriptionHTML: 'The number of successful key lookups.',
    chart: drawLineGraph(
      'number of cache hits',
      'Number',
      '.2s',
      metricSeries['mCacheHits']
    ),
    units: 'Number',
    metric: 'mCacheHits',
    summaries: metricSummaries['mCacheHits'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'cache-misses',
    titleHTML: 'Cache misses',
    descriptionHTML: 'The number of unsuccessful key lookups.',
    chart: drawLineGraph(
      'number of cache misses',
      'Number',
      '.2s',
      metricSeries['mCacheMisses']
    ),
    units: 'Number',
    metric: 'mCacheMisses',
    summaries: metricSummaries['mCacheMisses'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'item-count',
    titleHTML: 'Item count',
    descriptionHTML: 'The number of items in redis.',
    chart: drawLineGraph(
      'number of cache misses',
      'Number',
      '.2s',
      metricSeries['mCurrItems']
    ),
    units: 'Number',
    metric: 'mCurrItems',
    summaries: metricSummaries['mCurrItems'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'network-bytes-in',
    format: 'bytes',
    titleHTML: 'Network bytes in',
    descriptionHTML: 'The number of bytes redis has read from the network.',
    chart: drawLineGraph(
      'number of bytes redis has read from the network',
      'Bytes',
      '.2s',
      metricSeries['mNetworkBytesIn']
    ),
    units: 'Bytes',
    metric: 'mNetworkBytesIn',
    summaries: metricSummaries['mNetworkBytesIn'],
    downloadLink: downloadLink
  }) }}

  {{ metric({
    id: 'network-bytes-out',
    format: 'bytes',
    titleHTML: 'Network bytes out',
    descriptionHTML: 'The number of bytes sent by redis.',
    chart: drawLineGraph(
      'number of bytes sent by redis',
      'Bytes',
      '.2s',
      metricSeries['mNetworkBytesOut']
    ),
    units: 'Bytes',
    metric: 'mNetworkBytesOut',
    summaries: metricSummaries['mNetworkBytesOut'],
    downloadLink: downloadLink
  }) }}
</div>

{% endblock %}
