{% from "govuk-frontend/govuk/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/govuk/components/input/macro.njk" import govukInput %}

<div class="paas-statement-filters">
  <p class="govuk-body">
    Showing metrics between <strong class="non-breaking">{{ rangeStart | nicedatetime }}</strong>
    and <strong class="non-breaking">{{ rangeStop | nicedatetime }}</strong> for <a href="{{ linkTo(
      'admin.organizations.spaces.services.view',
      {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid}
      )}}" class="govuk-link non-breaking">{{ service.entity.name }}</a>.
  </p>

  <p class="govuk-body">  
    Each point is an average over <strong class="non-breaking">{{ period.humanize() }}</strong>.
  </p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Change time period
      </span>
    </summary>

    <ol class="govuk-list">
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '1h'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 1 hour">Last 1 hour</a>
      </li>
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '3h'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 3 hours">Last 3 hours</a>
      </li>
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '12h'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 12 hours">Last 12 hours</a>
      </li>
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '24h'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 24 hours">Last 24 hours</a>
      </li>
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '7d'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 7 days">Last 7 days</a>
      </li>
      <li>
        <a href="{{ linkTo('admin.organizations.spaces.services.metrics.redirect', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, offset: '30d'}) }}" class="govuk-link govuk-link--no-visited-state" title="last 30 days">Last 30 days</a>
      </li>
    </ol>

    <form method="get"
      action="{{ linkTo('admin.organizations.spaces.services.metrics.view', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid}) }}">
      <input type="hidden" name="_csrf" value="{{ context.csrf }}" />

      <h3 class="govuk-heading-s">Or provide custom date</h3>
      <div class="govuk-form-group">
        <label class="govuk-label" for="rangeStart">Start time</label>
        <input type="datetime-local"
          id="rangeStart"
          name="rangeStart"
          class="govuk-input"
          value="{{ rangeStart | dateTime }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="rangeStop">End time</label>
        <input type="datetime-local"
          id="rangeStop"
          name="rangeStop"
          class="govuk-input"
          value="{{ rangeStop | dateTime }}">
      </div>

      {{ govukButton({text: "Update", preventDoubleClick: true}) }}
    </form>
  </details>
</div>
