{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}
{% from "./metric.macro.njk" import metric %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}

<div class="border-bottom-box">
  <p>{{ govukTag({text: "experimental"}) }}</p>

  <p class="govuk-body">
    Backing service metrics is a new feature under active development.
    Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> if you have any feedback.
  </p>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Currently the available metrics for {{serviceLabel}} are:</p>
      <ul class="govuk-list">
        <li><a href="#free-disk-space" class="govuk-link">Free disk space</a></li>
        <li><a href="#cpu-utilisation" class="govuk-link">CPU Utilisation</a></li>
        <li><a href="#database-connections" class="govuk-link">Database Connections</a></li>
        <li><a href="#freeable-memory" class="govuk-link">Freeable Memory</a></li>
        <li><a href="#read-iops" class="govuk-link">Read IOPS</a></li>
        <li><a href="#write-iops" class="govuk-link">Write IOPS</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      {% include "./range-picker.njk" %}
    </div>
  </div>
</div>

<div class="govuk-width-container">
  {{ metric({
    id: 'free-disk-space',
    format: 'bytes',
    titleHTML: 'Free disk space',
    descriptionHTML: 'How much hard disk space your database has remaining. If your database runs out of disk space it will stop working.',
    metric: metricGraphsById['mFreeStorageSpace']
  }) }}

  {{ metric({
    id: 'cpu-utilisation',
    format: 'percentile',
    titleHTML: 'CPU Utilisation',
    descriptionHTML: 'How much computational work your database is doing. High CPU Utilisation may indicate you need to optimise your database queries
      or <a href="https://docs.cloud.service.gov.uk/deploying_services/postgresql/#upgrade-postgresql-service-plan">update your service to use a bigger plan</a>.',
    metric: metricGraphsById['mCPUUtilization']
  }) }}

  {{ metric({
    id: 'database-connections',
    titleHTML: 'Database Connections',
    descriptionHTML: 'How many open connections there are to your database. High values may indicate problems with your applications&apos; connection management, or that you need to
        <a href="https://docs.cloud.service.gov.uk/deploying_services/postgresql/#upgrade-postgresql-service-plan">update your service to use a bigger plan</a>.
        Zero values may indicate the database is unavailable, or that your applications cannot connect to the database.',
    metric: metricGraphsById['mDatabaseConnections']
  }) }}

  {{ metric({
    id: 'freeable-memory',
    format: 'bytes',
    titleHTML: 'Freeable Memory',
    descriptionHTML: 'How much <abbr title="Random Access Memory">RAM</abbr> the <abbr title="Virtual Machine">VM</abbr> your database is running on has remaining. Values near zero may indicate you need to optimise your database queries or
        <a href="https://docs.cloud.service.gov.uk/deploying_services/postgresql/#upgrade-postgresql-service-plan">update your service to use a bigger plan</a>.',
    metric: metricGraphsById['mFreeableMemory']
  }) }}

  {{ metric({
    id: 'read-iops',
    titleHTML: 'Read <abbr title="Input / Output Operations per Second">IOPS</abbr>',
    descriptionHTML: 'How many read operations your database is performing per second. Databases are limited to a number of <abbr title="Input / Output Operations per Second">IOPS</abbr>
        (read + write) based on how big their hard disk is. You get 3 <abbr title="Input / Output Operations per Second">IOPS</abbr> per <abbr title="GibiByte">GiB</abbr>, so a 100 GiB
        database would be limited to 300 IOPS. If it looks like your database is hitting its IOPS limit you may need to
        <a href="https://docs.cloud.service.gov.uk/deploying_services/postgresql/#upgrade-postgresql-service-plan">update your service to use a bigger plan</a>.',
    metric: metricGraphsById['mReadIOPS']
  }) }}

  {{ metric({
    id: 'write-iops',
    titleHTML: 'Write <abbr title="Input / Output Operations per Second">IOPS</abbr>',
    descriptionHTML: 'How many write operations your database is performing per second. Databases are limited to a number of <abbr title="Input / Output Operations per Second">IOPS</abbr>
        (read + write) based on how big their hard disk is. You get 3 <abbr title="Input / Output Operations per Second">IOPS</abbr> per <abbr title="GibiByte">GiB</abbr>, so a 100 GiB
        database would be limited to 300 IOPS. If it looks like your database is hitting its IOPS limit you may need to
        <a href="https://docs.cloud.service.gov.uk/deploying_services/postgresql/#upgrade-postgresql-service-plan">update your service to use a bigger plan</a>.',
    metric: metricGraphsById['mWriteIOPS']
  }) }}
</div>

{% endblock %}
