{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}


<div class="border-bottom-box">
<p>{{ govukTag({text: "experimental"}) }}</p>

<p>Backing service metrics is a new feature under active development. Expect frequent changes.</p>

<p>Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
if you have any feedback.</p>
</div>

{% set rdsPattern = r/^postgres|^mysql/ %}
{% if rdsPattern.test(serviceLabel) %}
    <div className="govuk-grid-row">
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        Free disk space
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'FreeStorageSpace' }
        ) }}" alt="Graph showing free disk space over the last 24 hours">
    </div>
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        CPU Utilisation
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'CPUUtilization' }
        ) }}" alt="Graph showing CPU utilisation over the last 24 hours">
    </div>
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        Database Connections
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'DatabaseConnections' }
        ) }}" alt="Graph showing database connections over the last 24 hours">
    </div>
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        Freeable Memory
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'FreeableMemory' }
        ) }}" alt="Graph showing freeable memory over the last 24 hours">
    </div>
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        Read IOPS
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'ReadIOPS' }
        ) }}" alt="Graph showing read IOPS over the last 24 hours">
    </div>
    <div className="govuk-grid-column-one-third">
        <h3 className="govuk-heading-m">
        Write IOPS
        </h3>

        <img src="{{
        linkTo(
        'admin.organizations.spaces.services.metrics.view.image',
        {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, serviceGUID: service.metadata.guid, metricDimension: 'WriteIOPS' }
        ) }}" alt="Graph showing write IOPS over the last 24 hours">
    </div>
    </div>
{% else %}
  <p>Metrics are not available for this service yet.</p>
{% endif %}

{% endblock %}
