{% extends "../services/_tabs.njk" %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}
  <div id="service-metrics-component-root">{{ serviceMetricsComponent | safe }}</div>

  <template id="service-metrics-component-props">
    {{ serviceMetricsComponentProps | safe }}
  </template>
  <script src="/assets/service-metrics.js"></script>
{% endblock %}
