{% extends "../services/_tabbed_layout.njk" %}
{% from "govuk-frontend/govuk/components/tag/macro.njk" import govukTag %}

{% block pageTitle %}
  {{ service.entity.name }} - Service Metrics
{% endblock %}

{% block insideTabs %}

<div class="border-bottom-box">
<p>{{ govukTag({text: "experimental"}) }}</p>

<p>Backing service metrics is a new feature under active development. Expect frequent changes.</p>

<p>Please email us at <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
if you have any feedback.</p>
</div>

<p>Metrics are not available for this service yet.</p>

{% endblock %}
