{% extends "../../layouts/govuk.njk" %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Event
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Application Event</span>
    {{ application.entity.name }}
  </h1>

  {% include "../events/event.njk" %}

{% endblock %}
