.space-wrapper {
  a {
    display: block;
  }

  margin-bottom: govuk-spacing(8);
}

.space {
  background-color: govuk-colour("grey-4");
  border: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(4);
  padding-right: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);
  margin-left: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  transition: background-color .1s ease, border-color .1s ease;
  text-align: left;
  @include govuk-font($size: 16);;

  &:hover {
    border: 2px solid govuk-colour("blue");
    padding-top: govuk-spacing(5) - 1px;
    padding-bottom: govuk-spacing(4) - 1px;
    padding-right: govuk-spacing(3) - 1px;
    padding-left: govuk-spacing(3) - 1px;
  }

  h4 {
    @include govuk-font($size: 16);;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: govuk-spacing(3);
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  li {
    display: inline;
  }

  h3 {
    @include govuk-font($size: 24, $weight: bold);;
    margin: 0;
  }

  h4 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  .running::before, .stopped::before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 2px;
  }

  .running{
    width:1%;
    white-space:nowrap;
    &::before {
      background-color: govuk-colour("green");
    }
  }

  .stopped {
    margin-left: govuk-spacing(3);
    &::before {
      background-color: govuk-colour("grey-2");
    }
  }

  & + h2 {
    margin-top: govuk-spacing(6) * 3;
  }

  .paas-caption {
    display: block;
    color: black;
    @include govuk-font($size: 16);;
  }

  @include mq($until: tablet) {

    h3 {
      margin-bottom: govuk-spacing(1);
      text-decoration: underline;
    }

    h4 {
      margin-top: govuk-spacing(3);
      margin-bottom: govuk-spacing(1);
      text-decoration: underline;
    }
  }
}

.space-information {
  color: $govuk-text-colour;
}

.organisation-overview  {
  a {
    @include govuk-font($size: 19, $weight: bold);;
    text-decoration: underline;
  }

  table a {
    @include govuk-font($size: 16);;
    text-decoration: none;
  }

  p {
    @include govuk-font($size: 19);;
    margin-top: govuk-spacing(1);
  }

  h2 {
    margin-bottom: govuk-spacing(7);
  }
}
