<ul class="overview-tab">
  <li class="{% if routePartOf('admin.organizations.spaces.applications.list') %} active {% endif %}">
    <a href="{{ linkTo('admin.organizations.spaces.applications.list', {
      organizationGUID: organization.metadata.guid,
      spaceGUID: space.metadata.guid
    }) }}">
      Applications
      {# <span class="number-of-items">{{ space.entity.apps | length }}</span> #}
    </a>
  </li>
  <li class="{% if routePartOf('admin.organizations.spaces.services.list') %} active {% endif %}">
    <a href="{{ linkTo('admin.organizations.spaces.services.list', {
      organizationGUID: organization.metadata.guid,
      spaceGUID: space.metadata.guid
    }) }}">
      Backing services
      {# <span class="number-of-items">{{space.entity.services | length }}</span> #}
    </a>
  </li>
</ul>
