{% extends "./_tabbed_layout.njk" %}

{% block pageTitle %}
  {{ space.entity.name }} - Overview
{% endblock %}

{% block insideTabs %}
  <p class="govuk-body">
    This space contains
    {{ applications | length }}
    application{% if applications.length != 1 %}s{% endif %}
  </p>

  {% if applications.length > 0 %}

    {% if cflinuxfs2UpgradeNeeded %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Application(s) need upgrading or they may go offline
        </h2>
        <div class="govuk-error-summary__body">
          <p>Some applications in this space are using the <code>cflinuxfs2</code> stack, which is now deprecated. For security reasons we will soon be force-upgrading apps to <code>cflinuxfs3</code>. It is possible that this will break your application. You can prevent this happening by <a href="https://docs.cloud.service.gov.uk/guidance.html#upgrading-from-cflinuxfs2">performing the upgrade yourself</a>.</p>
          <p>The following applications are affected:</p>
          <ul class="govuk-list govuk-error-summary__list">
            {% for application in applications %}
              {% if application.entity.stack_guid === cflinuxfs2StackGUID %}
                <li>
                  <a href="{{ linkTo('admin.organizations.spaces.applications.view', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid}) }}" color="#b10e1e">{{ application.entity.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header name" scope="col">Application name</th>
          <th class="govuk-table__header" scope="col">Instances</th>
          <th class="govuk-table__header" scope="col">Memory</th>
          <th class="govuk-table__header" scope="col">Disk</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">URLs</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for application in applications %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="{{ linkTo('admin.organizations.spaces.applications.view', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid}) }}" class="govuk-link">{{ application.entity.name }}</a>
            </td>
            <td class="govuk-table__cell" title="{{ application.entity.running_instances }} running / {{ application.entity.instances }} desired">
              {{ application.entity.running_instances }}
              /
              {{ application.entity.instances }}
            </td>
            <td class="govuk-table__cell" title="Total: {{ (application.entity.memory * application.entity.instances) | mbtogb | safe }}">
              {{ application.entity.instances }}
              &times;
              {{ application.entity.memory | mbtogb | safe }}
            </td>
            <td class="govuk-table__cell" title="Total: {{ (application.entity.disk_quota * application.entity.instances) | mbtogb | safe }}">
              {{ application.entity.instances }}
              &times;
              {{ application.entity.disk_quota | mbtogb | safe }}
            </td>
            <td class="govuk-table__cell">
              {{ application.entity.state | lower }}
            </td>
            <td class="govuk-table__cell">
              {{ application.entity.urls | linkify | join(", ") | safe }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}
{% endblock %}
