{% extends "./_tabbed_layout.njk" %}

{% block pageTitle %}
  {{ space.entity.name }} - Space Events
{% endblock %}

{% block insideTabs %}
  {% include "../events/totals.njk" %}

  {% include "../events/details.njk" %}

  <p class="govuk-body">
    {% if pagination.total_pages > 1 %}
      {% if page <= 1 %}
        <a class="govuk-link" disabled>Previous page</a>
      {% else %}
        <a class="govuk-link" href="{{
          linkTo(
            'admin.organizations.spaces.events.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, page: page-1}
          ) }}">Previous page</a>
      {% endif %}

      {% if pagination.next %}
        <a class="govuk-link" href="{{
          linkTo(
            'admin.organizations.spaces.events.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, page: page+1}
          ) }}">Next page</a>
      {% else %}
        <a class="govuk-link" disabled>Next page</a>
      {% endif %}
    {% endif %}
  </p>

  {% if events.length > 0 %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Date</th>
          <th class="govuk-table__header">Actor</th>
          <th class="govuk-table__header">Target</th>
          <th class="govuk-table__header">Event</th>
          <th class="govuk-table__header">Details</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for event in events %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{ event.updated_at | nicedate }}
            <br>
            {{ event.updated_at | nicetime }}
          </td>
          <td class="govuk-table__cell">
            {% if eventActorEmails[event.actor.guid] %}
              {{ eventActorEmails[event.actor.guid] }}
            {% else %}
              {% if event.actor.name %}
                {{ event.actor.name }}
              {% else %}
                <code>{{ event.actor.guid }}</code>
              {% endif %}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if eventActorEmails[event.target.guid] %}
              {{ eventActorEmails[event.target.guid] }}
            {% else %}
              {% if event.target.name %}
                {{ event.target.name }}
              {% else %}
                <code>{{ event.target.guid }}</code>
              {% endif %}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if eventTypeDescriptions[event.type] %}
              {{ eventTypeDescriptions[event.type] }}
            {% else %}
              <code>{{ event.type }}</code>
            {% endif %}
          </td>
          <td class="govuk-table__cell">
        <a class="govuk-link" href="{{
          linkTo(
            'admin.organizations.spaces.event.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, eventGUID: event.guid}
          ) }}">Details</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
