{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/govuk/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/govuk/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {{ organization.entity.name }} – Spaces
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Organisation</span>
    {{ organization.entity.name }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="paas-metric">
        <h2 class="paas-metric__heading">
          Quota usage
        </h2>

        <span class="paas-metric__figure">
          {{
            organization.entity.memory_allocated
            | percentage(organization.entity.quota.entity.memory_limit)
          }}
        </span>
      </div>

      <p class="paas-metric__context govuk-body">
        Using
        {{ organization.entity.memory_allocated | mbtogb }}
        of
        {{ organization.entity.quota.entity.memory_limit | mbtogb }}
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="paas-metric">
        <h2 class="paas-metric__heading">
          Team members
        </h2>

        <span class="paas-metric__figure">
          {{ users | length }}
        </span>
      </div>

      <p class="govuk-body">
        <a href="{{ linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid}) }}">
          View and manage team members
        </a>
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="paas-metric">
        <h2 class="paas-metric__heading">
          Billing
        </h2>

        <span class="paas-metric__figure">
          {% if organization.entity.quota.entity.name == 'default' %}
            Trial
          {% else %}
            Billable
          {% endif %}
        </span>
      </div>

      <p class="govuk-body">
        {% if organization.entity.quota.entity.name == 'default' %}
          Trial organisations have limited access to backing services
        {% else %}
          Billable organisations have full access to backing services
        {% endif %}
      </p>

      {% if isAdmin or isManager or isBillingManager %}
        <p class="govuk-body">
          <a href="{{ linkTo('admin.statement.dispatcher', {organizationGUID: organization.metadata.guid}) }}"
             class="govuk-link">
            Explore your costs and usage
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  <h2 class="govuk-heading-l">Spaces</h2>

  <p class="govuk-body">
    There are
    {{ spaces | length }}
    spaces in
    {{ organization.entity.name }}.
  </p>

  <details class="govuk-details" role="group">
    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">
        What are spaces?
      </span>
    </summary>

    <div class="govuk-details__text" aria-hidden="true">
      <p>
        Each organisation contains one or more spaces, which are used to organise app development, deployment, and maintenance.
        Organisation managers can create and delete spaces.
      </p>

      <a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html#spaces" class="govuk-link">
        Read more about Spaces
      </a>
    </div>
  </details>

  {% if cflinuxfs2UpgradeNeeded %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Application(s) need upgrading or they may go offline
      </h2>
      <div class="govuk-error-summary__body">
        <p>Some spaces below in this space are using the <code>cflinuxfs2</code> stack, which is now deprecated. For security reasons we will soon be force-upgrading apps to <code>cflinuxfs3</code>. It is possible that this will break your application. You can prevent this happening by <a href="https://docs.cloud.service.gov.uk/guidance.html#upgrading-from-cflinuxfs2">performing the upgrade yourself</a>.</p>
        <p>Applications in the following spaces are affected:</p>
        <ul class="govuk-list govuk-error-summary__list">
          {% for space in spaces %}
            {% if space.entity.cflinuxfs2UpgradeNeeded %}
              <li>
                <a href="{{ linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid}) }}" color="#b10e1e">{{ space.entity.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">
          Name
        </th>
        <th scope="col" class="govuk-table__header">
          Memory usage
        </th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">
          Running apps
        </th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">
          Stopped apps
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for space in spaces %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="{{ linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid}) }}" 
               class="govuk-link">
              {{ space.entity.name }}
            </a>
          </td>
          <td class="govuk-table__cell">
              {{ space.entity.memory_allocated | mbtogb }}
              of
              {% if space.entity.quota %}
                {{ space.entity.quota.entity.memory_limit | mbtogb }}
              {% else %}
                no limit
              {% endif %}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ space.entity.running_apps | length }}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ space.entity.stopped_apps | length }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
