{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Spaces
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row govuk-!-mb-r8 govuk-!-mt-r5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        This organisation has {{ spaces | length }} spaces
      </h1>
    </div>

    <div class="govuk-grid-column-one-third">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              Memory:
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ (organization.entity.memory_allocated / 1024) | round(2) }}gb
              of {{ (organization.entity.quota.entity.memory_limit / 1024) | round(2) }}gb
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <details class="govuk-details" role="group">
    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">
        What are spaces?
      </span>
    </summary>

    <div class="govuk-details__text" aria-hidden="true">
      <p>
        Each organisation contains one or more spaces, which are used to organise app development, deployment, and maintenance.
        Organisation managers can create and delete spaces.
      </p>

      <a href="https://docs.cloud.service.gov.uk/#organisations-spaces-amp-targets" class="govuk-link">
        Read more about Spaces
      </a>
    </div>
  </details>

  <div class="govuk-grid-row space-wrapper">
  {% for space in spaces %}
    <a href="{{ linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid}) }}" id="space-{{ space.metadata.guid }}" class="govuk-link">
      <section class="govuk-grid-row space">
        <div class="govuk-grid-column-one-third">
          <h3>
            <span class="paas-caption">Space:</span>
            {{ space.entity.name }}
          </h3>
        </div>

        <div class="space-information">
          <div class="govuk-grid-column-one-third govuk-grid-row">
            <h4 class="govuk-grid-column-full">
              The space has {{ space.entity.apps | length }} apps:
            </h4>
            <ul>
              <li class="running">
                {{ space.entity.running_apps | length }} running
              </li>
              <li class="stopped">
                {{ space.entity.stopped_apps | length }} stopped
              </li>
            </ul>
          </div>

          <div class="govuk-grid-column-one-third govuk-grid-row">
            <h4 class="govuk-grid-column-full">
              Space memory allocated:
            </h4>

            <p class="govuk-grid-column-full">
              {{ (space.entity.memory_allocated / 1024) | round(2) }}gb of
              {% if space.entity.quota %}
                {{ (space.entity.quota.entity.memory_limit / 1024) | round(2) }}gb
              {% else %}
                no limit
              {% endif %}
            </p>
          </div>
        </div>
      </section>
    </a>
  {% endfor %}
  </div>

  <div class="govuk-grid-row organisation-overview">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        This organisation has {{ users | length }} team members
      </h2>
    </div>

    <div class="govuk-grid-column-one-half">
      <table class="govuk-table organisation-managers">
        <caption class="govuk-table__caption">
          There are {{ managers | length }} Org managers:
        </caption>

        <tbody class="govuk-table__body">
          {% for user in managers %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {% if isAdmin or isManager %}
                  <a href="{{ linkTo('admin.organizations.users.edit', {organizationGUID: organization.metadata.guid, userGUID: user.metadata.guid}) }}" class="govuk-link">
                    {{ user.entity.username }}
                  </a>
                {% else %}
                  {{ user.entity.username }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <details class="govuk-details" role="group">
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="govuk-details__summary-text">
            What are org managers?
          </span>
        </summary>

        <div class="govuk-details__text" aria-hidden="true">
          <p>
            An org manager can create and delete spaces, and administer user roles.
          </p>

          <a href="https://docs.cloud.service.gov.uk/#user-roles" class="govuk-link">
            Read more about different roles
          </a>
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="{{ linkTo('admin.organizations.users', {organizationGUID: organization.metadata.guid}) }}">
        View and manage team members
      </a>

      <p>
        As an ‘org manager’ you can manage team members in your organisation.
      </p>
    </div>
  </div>
{% endblock %}


