{% extends "../../layouts/govuk.njk" %}

{% block content %}
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Application</span>
  {{ application.entity.name }}
</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item {% if routePartOf('admin.organizations.spaces.applications.view') %}govuk-tabs__list-item--selected{% endif %}">
      <a href="{{
          linkTo(
            'admin.organizations.spaces.applications.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
          ) }}">
        Overview
      </a>
    </li>
    <li class="govuk-tabs__list-item {% if routePartOf('admin.organizations.spaces.applications.metrics.view') %}govuk-tabs__list-item--selected{% endif %}">
      <a href="{{
          linkTo(
            'admin.organizations.spaces.applications.metrics.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
          ) }}">
        Metrics
      </a>
    </li>
    <li class="govuk-tabs__list-item {% if routePartOf('admin.organizations.spaces.applications.logs.view') %}govuk-tabs__list-item--selected{% endif %}">
      <a href="{{
          linkTo(
            'admin.organizations.spaces.applications.logs.view',
            {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
          ) }}">
        Logs
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel">
    {% block insideTabs %}
    {% endblock %}
  </section>
</div>

{% endblock %}
