{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/table/macro.njk" import govukTable %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Overview
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: 'Space: ' + space.entity.name,
        href: linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid})
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Application</span>
        {{ application.entity.name }}
      </h1>

      {% if stack.entity.name == 'cflinuxfs2' %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            This application needs upgrading or it may go offline
          </h2>
          <div class="govuk-error-summary__body">
            <p style="margin-bottom: 0;">This application is using the <code>cflinuxfs2</code> stack, which is now deprecated. For security reasons we will soon be force-upgrading apps to <code>cflinuxfs3</code>. It is possible that this will break your application. You can prevent this happening by <a href="https://docs.cloud.service.gov.uk/guidance.html#upgrading-from-cflinuxfs2">performing the upgrade yourself</a>.</p>
          </div>
        </div>
      {% endif %}

      {{ govukTable({
        caption: 'Application details',
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: 'Name'
            },
            {
              text: application.entity.name
            }
          ]
        ].concat(actualRuntimeInfo).concat([
          [
            {
              text: 'Instances'
            },
            {
              text: application.entity.running_instances + '/' + application.entity.instances
            }
          ],
          [
            {
              text: 'Memory'
            },
            {
              text: (application.entity.memory / 1024) | round(2) + 'gb'
            }
          ],
          [
            {
              text: 'Disk quota'
            },
            {
              text: (application.entity.disk_quota / 1024) | round(2) + 'gb'
            }
          ],
          [
            {
              text: 'Status'
            },
            {
              text: application.entity.state
            }
          ],
          [
            {
              text: 'SSH'
            },
            {
              text: application.entity.enable_ssh
            }
          ],
          [
            {
              text: 'URLs'
            },
            {
              text: application.entity.urls | join(", ")
            }
          ],
          [
            {
              text: 'Ports'
            },
            {
              text: application.entity.ports
            }
          ]
        ])
      }) }}

      <h4 class="govuk-heading-s">On the commandline</h4>

      <p>You can also view the same information on the commandline, to see details for all of your apps use:</p>

      <p>
        <code>cf apps</code>
      </p>

      <a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-the-cloud-foundry-command-line" class="govuk-link">
        Read more about using PaaS on the commandline.
      </a>
    </div>
  </div>
{% endblock %}
