{% extends "../layouts/govuk.njk" %}
{% from "@govuk-frontend/input/macro.njk" import govukInput %}
{% from "@govuk-frontend/button/macro.njk" import govukButton %}
{% from "@govuk-frontend/panel/macro.njk" import govukPanel %}
{% from "@govuk-frontend/back-link/macro.njk" import govukBackLink %}
{% from "@govuk-frontend/details/macro.njk" import govukDetails %}

{% block page_title %}
	Orgs
{% endblock %}


{% block main %}
	{% if name %}
		{{ govukBackLink({
			"text": "Back",
			"href": "/orgs"
		}) }}
		{{ govukPanel({
			"titleText": "Organisation Created!",
			"text": "Your org is called " + name
		}) }}
	{% else %}
		<form action="/orgs" method="get">
			{{ govukInput({
			  label: {
				  "text": "Organisation Name",
				  "hintText": "It should probably be something cool"
			  },
			  id: "name-1",
			  name: "name",
			  value: name
			}) }}
			{{ govukButton({
				"text": "Create org (not really)"
			}) }}
			{{ govukDetails({
			  "summaryText": "Help with ducks",
			  "text": "We need to know your favourite duck name so we can work out which duck benefits you’re entitled to. If you can’t provide your duck name, you’ll have to send copies of duck identity documents through the post."
			}) }}
		</form>
	{% endif %}

{% endblock %}


