{% extends "../applications/_tabs.njk" %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Logs
{% endblock %}

{% block insideTabs %}
  <p class="govuk-body">
    The logs displayed below are live streamed from the application to your
    browser, and are not historical.
  </p>

  <div id="js-application-logs" class="application-logs"></div>
  <script src="/assets/logs.js"></script>
{% endblock %}
