{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ application.entity.name }} - Application Logs
{% endblock %}

{% block content %}
  {{ super() }}

  {{ govukBackLink({
    text: 'Space: ' + space.entity.name,
    href: linkTo('admin.organizations.spaces.applications.list', {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid})
  }) }}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Application logs</span>
    {{ application.entity.name }}
  </h1>

  <ul class="overview-tab">
    <li>
      <a href="{{
        linkTo(
          'admin.organizations.spaces.applications.view',
          {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
        ) }}">Overview</a>
    </li>
    <li>
      <a href="{{
        linkTo(
          'admin.organizations.spaces.applications.metrics.view',
          {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
        ) }}">Metrics</a>
    </li>
    <li class="active">
      <a href="{{
        linkTo(
          'admin.organizations.spaces.applications.logs.view',
          {organizationGUID: organization.metadata.guid, spaceGUID: space.metadata.guid, applicationGUID: application.metadata.guid }
        ) }}">Logs</a>
    </li>
  </ul>

  <p class="govuk-body">
    The logs displayed below are live streamed from the application to your
    browser, and are not historical.
  </p>

  <div id="js-application-logs" class="application-logs">
  </div>

<style>
.application-logs {
  font-family: monospace;
  border: 2px solid black;
  width: 100%;
  height: 600px;
  overflow: scroll;
}
.log-line {
  display: table-row;
}
.log-gutter {
  display: table-cell;
  width: 15rem;
  background-color: #f3f2f1;
  border-right: 1px solid black;
  padding: 3px;
  border-bottom: 1px solid #b1b4b6;
}
.log-body {
  display: table-cell;
  padding: 3px 3px 3px 5px;
  border-bottom: 1px solid #b1b4b6;
}
</style>
<script src="/assets/logs.js"></script>
{% endblock %}
