{% extends "../../layouts/govuk.njk" %}
{% from "@govuk-frontend/button/macro.njk" import govukButton %}

{% block page_title %}
  Terms
{% endblock %}

{% block main %}
  <form method="post" action="/agreements">
    <div class="md">
      {{ document.content | markdown | safe }}
    </div>
    <input type="hidden" name="document_name" value="{{ document.name }}">
    {{ govukButton({
      text: "Agree",
      type: "submit"
    }) }}
  </form>
{% endblock %}
