code {
  background: #f5f5f5;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #BFC1C3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}


ul, ol {
  &.single-line li {
    display: inline;
  }
}

.non-breaking {
  white-space: nowrap;
}
