.header-wrapper {
  a {
    color: $govuk-white;
    text-decoration: none;

    &:hover {
     text-decoration: underline;
    }
  }
}

.header-title {
  color: #fff;
  @include govuk-font-regular-24;
  float: left;
  margin-top: 8px;
}

#global-header .header-wrapper .header-global .header-logo {
  @media only screen and (min-width: 769px)  {
    width: auto;
  }
}

.navigation {
  float:right;
  display: block;
  margin-right: $govuk-spacing-scale-3;
  margin-top: 7px;
  padding-top: 0;
  @include govuk-font-bold-16;

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    display: inline;
    margin-left: $govuk-spacing-scale-3;
  }
}
