.app-region-tag--ireland {
  background-color: #006435;
}

.app-region-tag {
  @include govuk-media-query($until: tablet) {
    text-transform: capitalize;
    background: none;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
  }
}

.app-region-tag__text {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

@include govuk-media-query(tablet) {
  /* GOV.UK Platform-as-a-Service is too long */
  .govuk-header__logo {
    width: auto;
  }

  .govuk-header__content {
    width: auto;
    padding-left: 0;
    text-align: right;
  }

  /* Link to pricing on right edge of phase banner */
  .govuk-phase-banner__text {
    width: 100%;
  }
}

@include govuk-media-query($from: wideDesktop) {
  .govuk-header__content {
    float: right;
    padding-left: govuk-spacing(3);
  }
}
