{% extends "govuk_template_jinja/views/layouts/govuk_template.html" %}
{% from "@govuk-frontend/phase-banner/macro.njk" import govukPhaseBanner %}

{% set homepage_url = '/' %}

{% set logo_link_title = 'Go to the GOV.UK PaaS Admin Tool Homepage' %}

{% block page_title %}PaaS Administration{% endblock %}

{% block head %}
  <link href="./govuk.screen.scss" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block cookie_message %}
  <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
{% endblock %}

{% block footer_support_links %}
  <nav class="footer-nav">
    <ul>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-o-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: 'alpha'
      },
      html: 'This is a new service – your <a class="govuk-link" href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">feedback</a> will help us to improve it.'
    }) }}

    <main class="govuk-o-main-wrapper {% block main_classes %}{% endblock %}">
      {% block main %}
        No content rendered to 'main' block
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block body_end %}

{% endblock %}
