@import '~@govuk-frontend/all/all';
@import 'elements';
@import 'header';

@import '../organizations/subnav/element';

@import '../spaces/spaces';

@import '../users/permissions';

@import '../organizations/_organizations';

.text-right {
  text-align: right;
}
