@import '~@govuk-frontend/all/all';

@import 'navigationPanel/_navigationPanel.scss';
@import 'elements';

@import '../organizations/subnav/element';

@import '../spaces/spaces';

@import '../users/permissions';

.text-right {
  text-align: right;
}
