table {
  width: 100%;
}

.govuk-skip-link,
.govuk-header,
.paas-hidden-table-header,
.paas-exchange-rate +p .download,
.subnav,
.paas-statement-range button:not(.filter-header),
.govuk-footer {
  display: none;
}

th {
  text-align: left;
}

style + table {
  margin-top: 30px;
}

.paas-statement-range select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.paas-exchange-rate {
  margin-top: 15px;
}

.filter-header {
  background: none;
  border: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0.52632em 1.05263em 0.52632em 0;

  &:after {
    display: none;
  }
}
