$govuk-global-styles: true;
$govuk-page-width: 1200px;
$app-super-light-grey: #f8f8f8;

$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  wideDesktop: 1156px
);

@import '~govuk-frontend/govuk/all';

@import 'elements';
@import 'header';

@import '../components/calculator/calculator';

@import './subnav';
@import '../components/reports/reports';

@import '../components/org-users/org-users';
@import '../components/org-users/permissions';

@import '../components/marketplace/marketplace';
@import '../components/statements/statements';
@import '../components/services/services';
@import '../components/service-metrics/service-metrics';
@import '../components/charts/line-graph';

.govuk-template__body {
  font-family: "GDS Transport", Arial, sans-serif;
}

.text-right {
  text-align: right;
}

.org-summary-stat {
  .org-summary-stat__heading {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 15px;
    min-height: 1.25;
  }

  .org-summary-stat__figure {
    font-size: 36px;
    line-height: 1.1111111111;
    font-weight: 700;
  }
}

.govuk-summary-list__key {
  vertical-align: top;
}

.code-block {
  display: inline-block;
  width: 100%;

  font-family: monospace;
  word-break: break-word;
  white-space: pre-wrap;
}

.govuk-grid-row.govuk-grid-row-vertically-separated {
  > *+* {
    border-left: 1px solid $govuk-border-colour;
  }
}


.govuk-link:not([href*="//"]) {
  @include govuk-link-style-no-visited-state;
}

.scrollable-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

// tables where first cell is the row header come
// embolden from govuk-frontend. For large, text-heavy tables
// that's useful, but for an admin interface not necessary
.govuk-table__header--non-bold {
  font-weight: 400;
}

//abbreviation tooltip

[data-module="tooltip"] {
  position: relative;
}

[data-module="tooltip"]:focus {
  @include govuk-focused-text;
}

[data-module="tooltip"]:after { 
  color: govuk-colour("white");
  background-color: govuk-colour("black");
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  content: attr(aria-label);
}

.js-enabled [data-module="tooltip"] {
  text-decoration: underline dotted;
  text-underline-position: under;
  cursor: help;
}

[data-module="tooltip"][tooltip=active]:after,
[data-module="tooltip"]:hover:after {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    white-space: inherit;
    z-index: 99;
    margin-top: -(govuk-spacing(5));
    padding: 2px 3px;  
}
