$govuk-global-styles: true;
$govuk-page-width: 1200px;
$app-super-light-grey: #f8f8f8;

$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  wideDesktop: 1156px
);

@import '~govuk-frontend/govuk/all';

@import 'elements';
@import 'header';

@import '../components/calculator/calculator';

@import './subnav';
@import '../components/reports/reports';

@import '../components/org-users/org-users';
@import '../components/org-users/permissions';

@import '../components/marketplace/marketplace';
@import '../components/statements/statements';
@import '../components/services/services';
@import '../components/service-metrics/service-metrics';
@import '../components/charts/line-graph';

.govuk-template__body {
  font-family: "GDS Transport", Arial, sans-serif;
}

.text-right {
  text-align: right;
}

.org-summary-stat {
  .org-summary-stat__heading {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 15px;
    min-height: 1.25;
  }

  .org-summary-stat__figure {
    font-size: 36px;
    line-height: 1.1111111111;
    font-weight: 700;
  }
}

abbr {
  text-underline-position: under;
}

.govuk-summary-list__key {
  vertical-align: top;
}

.code-block {
  display: inline-block;
  width: 100%;

  font-family: monospace;
  word-break: break-word;
  white-space: pre-wrap;
}

.govuk-grid-row.govuk-grid-row-vertically-separated {
  > *+* {
    border-left: 1px solid $govuk-border-colour;
  }
}


.govuk-link:not([href*="//"]) {
  @include govuk-link-style-no-visited-state;
}

.scrollable-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
