@mixin hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.paas-statement-range {
  button {
    margin-bottom: 5px;
  }
}

.paas-exchange-rate {
  border: 10px solid govuk-colour("grey-3");
  background-color: govuk-colour("grey-4");
  padding: 10px;
  border-collapse: separate;

  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.paas-month-price-demphasised{
  font-weight: normal;
}

.paas-table-billing-statement {
  @include govuk-font($size: 16);
}

.paas-month-total-information {
   @include govuk-font($size: 16);
   color: govuk-colour("grey-1");
}

.paas-month-price {
  text-align: right;
}

.paas-hidden-table-header {
  @include hidden;
}

.currency {
  float: left;
}

.paas-billing-heading {
  margin-bottom: 20px;
}

.paas-table-notification {
  @include govuk-font($size: 24);
  padding: 25px 0;
  text-align: center;
}

.paas-statement-filter {
  width: 23%;

  .govuk-button {
    width: 100%;
  }
}

.paas-statement-filters {
  //Check which version we're using as it's not recognising govuk-colour("grey-3")
  background-color: govuk-colour("grey-3");
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-collapse: separate;

  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.32632em
  }

  .govuk-table__header {
    @include govuk-font($size: 16, $weight: bold);
  }
}

.paas-statement-total-summary {

}