.paas-statement-range {
  button {
    margin-bottom: 2px;
    width: 100%;
  }
}

.cost-summary {
  background-color: govuk-colour("light-grey");
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(2, "bottom");
  @include govuk-responsive-padding(6, "left");
  @include govuk-responsive-padding(6, "right");
}

.cost-summary-table {
  border-collapse: separate;
  margin-bottom: govuk-spacing(4);

  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.paas-table-billing-statement {
  @include govuk-font($size: 16);

  button[name=sort] {
    background: none;
    border: none;
    box-shadow: none;
    color: govuk-colour("blue");
    cursor: pointer;
    @include govuk-font($size: 16, $weight: bold);
    margin: 0;
    padding: 0;

    &::after {
      display: inline-block;
      margin-left: .5rem;
      content: "";
    }

    // use border for trianglr shape instead of content
    // as content get's read by screenreaders

    &.asc:after {
      @include govuk-shape-arrow($direction: up, $base: 12px, $display: inline-block);
      border-bottom-color: currentColor;
    }

    &.desc:after {
      @include govuk-shape-arrow($direction: down, $base: 12px, $display: inline-block);
      border-top-color: currentColor;
    }
  }
}

.paas-table-notification {
  @include govuk-font($size: 24);
  padding: 25px 0;
  text-align: center;
}

.paas-statement-filters {
  @include govuk-responsive-padding(6);
  background-color: govuk-colour("light-grey");
  @include govuk-media-query($from:tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: govuk-spacing(3); // safari 10.1 - 11.1 and FF 52-60
    column-gap: govuk-spacing(3);
    align-items: end;
  }
  @include govuk-media-query($from:desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
  > div {
    margin-bottom: govuk-spacing(3);
  }
}
