@mixin hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.paas-statement-range {
  button {
    margin-bottom: 5px;
  }
}

.text-right {
  text-align: right;
}

.paas-text-regular {
  font-weight: 500;
}

.paas-exchange-rate {
  border: 10px solid govuk-colour("light-grey");
  background-color: govuk-colour("light-grey");
  padding: 10px;
  border-collapse: separate;
  margin-bottom: govuk-spacing(4);

  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.paas-month-price-demphasised{
  font-weight: normal;
}

.paas-table-billing-statement {
  @include govuk-font($size: 16);

  button[name=sort] {
    background: none;
    border: none;
    box-shadow: none;
    color: govuk-colour("blue");
    cursor: pointer;
    @include govuk-font($size: 16, $weight: bold);
    margin: 0;
    padding: 0;

    &::after {
      display: inline-block;
      margin-left: .5rem;
      content: "";
    }

    // use border for trianglr shape instead of content
    // as content get's read by screenreaders

    &.asc:after {
      @include govuk-shape-arrow($direction: up, $base: 12px, $display: inline-block);
      border-bottom-color: currentColor;
    }

    &.desc:after {
      @include govuk-shape-arrow($direction: down, $base: 12px, $display: inline-block);
      border-top-color: currentColor;
    }
  }
}

.paas-month-total-information {
   @include govuk-font($size: 16);
   color: govuk-colour("dark-grey");
}

.paas-month-price {
  text-align: right;
}

.paas-hidden-table-header {
  @include hidden;
}

.paas-table-notification {
  @include govuk-font($size: 24);
  padding: 25px 0;
  text-align: center;
}

.paas-statement-filter {
  width: 23%;

  .govuk-button {
    width: 100%;
  }
}

.paas-statement-filters {
  @include govuk-responsive-padding(6);
  background-color: govuk-colour("light-grey");
  border-collapse: separate;

  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.32632em
  }

  .govuk-table__header {
    @include govuk-font($size: 16, $weight: bold);
  }
}

.paas-statement-total-summary {

}
