{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "govuk-frontend/components/table/macro.njk" import govukTable %}
{% from "govuk-frontend/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}
  Statement
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l paas-billing-heading">
        Monthly billing statement
      </h1>
    </div>

    <div class="govuk-grid-column-full">
      <form method="get" action="{{ linkTo('admin.statement.dispatcher', {organizationGUID: organization.metadata.guid}) }}" class="paas-statement-range">
        <table class="govuk-table paas-statement-filters">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="column">
                Month
              </th>
              <th class="govuk-table__header" scope="column">
                Spaces
              </th>
              <th class="govuk-table__header" scope="column">
                Services and apps
              </th>
              <th class="govuk-table__header paas-hidden-table-header" scope="column">
              Filter
              </th>
            </tr>
            <tr>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <select class="govuk-select" id="rangeStart" name="rangeStart">
                  {% for rangeStart, rangeTitle in listOfPastYearMonths %}
                    <option value="{{ rangeStart }}" {% if selectedMonth == rangeStart  %}selected{% endif %}>{{ rangeTitle }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <select class="govuk-select" id="rangeStart" name="rangeStart">
                  {% for rangeStart, rangeTitle in listOfPastYearMonths %}
                    <option value="{{ rangeStart }}" {% if selectedMonth == rangeStart  %}selected{% endif %}>{{ rangeTitle }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <select class="govuk-select" id="rangeStart" name="rangeStart">
                  {% for rangeStart, rangeTitle in listOfPastYearMonths %}
                    <option value="{{ rangeStart }}" {% if selectedMonth == rangeStart  %}selected{% endif %}>{{ rangeTitle }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell paas-statement-filter">
                {{ govukButton({text: "Filter"}) }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="govuk-grid-column-full">
      <table class="govuk-table paas-exchange-rate">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            Total cost for {{ currentMonth }}
          </th>
          <th class="paas-month-price paas-month-price-demphasised">
            &pound;{{ (totals.exVAT + totals.exVAT/100*10)  | currency(5) }}
          </th>
          <th class="paas-month-price">
            &pound;{{ (totals.incVAT + totals.incVAT/100*10) | currency(5) }}
          </th>
        </tr>
        <tr class="paas-month-total-information">
          <td class="govuk-table__cell">
            Exchange rate: &pound;1 to &dollar;{{(1 -  usdExchangeRate + 1) | currency(2)}}
          </td>
          <td class="paas-month-price">ex VAT</td>
          <td td class="paas-month-price">inc VAT at 20&percnt;</td>
        </tr>
      </table>
      {% if selectedSpace.name == "All spaces" %}
        {% set spaceText = "" %}
      {% else  %}
        {% set spaceText = "space" %}
      {% endif %}
      {% if selectedPlan.name == "All services" %}
        {% set serviceText = "" %}
      {% else %}
        {% set serviceText = "service" %}
      {% endif %}
      <h3 class="govuk-heading-s">Cost breakdown: <span class="paas-text-regular">{{ items | length }} items in</span> {{ currentMonth }} <span class="paas-text-regular"> in </span> {{ selectedSpace.name | lower }} <span class="paas-text-regular"> {{ spaceText }} with </span> {{ selectedPlan.name | lower }} <span class="paas-text-regular"> {{ serviceText }}</span></h3>
    </div>
  </div>

  {% if items | length %}
    {% if isCurrentMonth %}
      <p class="paas-table-notification">
        This statement shows up to date provisional usage data for current month.
      </p>
    {% endif %}
    <table class="govuk-table paas-table-billing-statement">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Plan</th>
          <th class="govuk-table__header" scope="col" style="text-align: right">Ex VAT</th>
          <th class="govuk-table__header" scope="col" style="text-align: right">Inc VAT</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for guid, items in items | groupby('spaceGUID') %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header " colspan="4" style="padding-top: 40px;">{{ items[0].space.entity.name or guid }}</th>
          </tr>
          {% for item in items %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">
                {{ item.resourceName }}
              </td>
              <td class="govuk-table__cell ">
                {{ item.planName }}
              </td>
              <td class="govuk-table__cell" style="text-align: right">
                <span class="currency">&pound;</span>
                {{ item.price.exVAT | currency(5) }}
              </td>
              <td class="govuk-table__cell" style="text-align: right">
                <span class="currency">&pound;</span>
                {{ item.price.incVAT | currency(5) }}
              </td>
            </tr>
          {% endfor %}
          <tr class="govuk-table__row" style="background: #efefef">
            <th class="govuk-table__header " colspan="2">Sub-total</th>
            <td class="govuk-table__cell" scope="col" style="text-align: right;">
              <span class="currency">&pound;</span>
              <strong>{{ items | query('[].price.exVAT') | sum | currency(5) }}</strong>
            </td>
            <td class="govuk-table__cell" scope="col" style="text-align: right;">
              <span class="currency">&pound;</span>
              <strong>{{ items | query('[].price.incVAT') | sum | currency(5) }}</strong>
            </td>
          </tr>
        {% endfor %}
        <tr class="govuk-table__row" >
          <th class="govuk-table__header name" scope="col" colspan="2" style="padding-top: 60px;">Admin Fee</th>
          <td class="govuk-table__cell" scope="col" style="text-align: right; padding-top: 60px;">
            <span class="currency">&pound;</span>
            <strong>{{ (totals.exVAT/100*10) | currency(5) }}</strong>
          </td>
          <td class="govuk-table__cell" scope="col" style="text-align: right; padding-top: 60px;">
            <span class="currency">&pound;</span>
            <strong>{{ (totals.incVAT/100*10) | currency(5) }}</strong>
          </td>
        </tr>
        <tr class="govuk-table__row" style="background: #efefef">
          <th class="govuk-table__header name" scope="col" colspan="2" style="height: 60px;">TOTAL</th>
          <td class="govuk-table__cell" scope="col" style="text-align: right;">
            <span class="currency">&pound;</span>
            <strong>{{ (totals.exVAT + totals.exVAT/100*10)  | currency(5) }}</strong>
          </td>
          <td class="govuk-table__cell" scope="col" style="text-align: right;">
            <span class="currency">&pound;</span>
            <strong>{{ (totals.incVAT + totals.incVAT/100*10) | currency(5) }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p class="paas-table-notification">There is no record of any usage for that period.</p>
  {% endif %}

{% endblock %}
