{% extends "../../layouts/govuk.njk" %}
{% from "govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/panel/macro.njk" import govukPanel %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "govuk-frontend/components/table/macro.njk" import govukTable %}
{% from "govuk-frontend/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}
  Statement
{% endblock %}

{% block content %}
  {{ super() }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l paas-billing-heading">
        Monthly billing statement
      </h1>
    </div>

    <div class="govuk-grid-column-full">
      <form method="get" action="{{ linkTo('admin.statement.dispatcher', {organizationGUID: organization.metadata.guid}) }}" class="paas-statement-range">
        <table class="govuk-table paas-statement-filters">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="column">
                Month
              </th>
              <th class="govuk-table__header" scope="column">
                Spaces
              </th>
              <th class="govuk-table__header" scope="column">
                Services and apps
              </th>
              <th class="govuk-table__header paas-hidden-table-header" scope="column">
              Filter
              </th>
            </tr>
            <tr>
              <td class="govuk-table__cell">
                <select class="govuk-select" id="rangeStart" name="rangeStart">
                  {% for rangeStart, rangeTitle in listOfPastYearMonths %}
                    <option value="{{ rangeStart }}" {% if filterMonth == rangeStart  %}selected{% endif %}>{{ rangeTitle }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell">
                <select class="govuk-select" id="space" name="space">
                  {% for space in spaces %}
                    <option value="{{ space.metadata.guid }}" {% if filterSpace.metadata.guid == space.metadata.guid %}selected{% endif %}> {{ space.entity.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell">
                <select class="govuk-select" id="service" name="service">
                  {% for plan in plans %}
                    <option value="{{ plan.metadata.guid }}" {% if filterService.metadata.guid == plan.metadata.guid %}selected{% endif %}>{{ plan.entity.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="govuk-table__cell paas-statement-filter">
                {{ govukButton({text: "Filter" }) }}
              </td>
            </tr>
          </tbody>
        </table>

        <input type="hidden" name="sort" value="{{ orderBy }}" />
        <input type="hidden" name="order" value="{{ orderDirection }}" />
      </form>
    </div>

    <div class="govuk-grid-column-full">
      <table class="govuk-table paas-exchange-rate">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            Total cost for {{ currentMonth }}
            {% if filterSpace.metadata.guid != "none" %}
              <span class="paas-text-regular">in <strong>{{ filterSpace.entity.name | lower }}</strong> space</span>
            {% endif %}
            {% if filterService.metadata.guid != "none" %}
              <span class="paas-text-regular">with <strong>{{ filterService.entity.name | lower }}</strong> services</span>
            {% endif %}
          </th>
          <th class="paas-month-price paas-month-price-demphasised">
            &pound;{{ (totals.exVAT + totals.exVAT/100*10)  | currency(2) }}
          </th>
          <th class="paas-month-price">
            &pound;{{ (totals.incVAT + totals.incVAT/100*10) | currency(2) }}
          </th>
        </tr>
        <tr>
          <td class="govuk-table__cell">
            <small>Included 10% admin fee:</small>
          </td>
          <td class="paas-month-price"><small>&pound;{{ (totals.exVAT/100*10) | currency(2) }}</small></td>
          <td td class="paas-month-price"><small>&pound;{{ (totals.incVAT/100*10) | currency(2) }}</small></td>
        </tr>
        <tr class="paas-month-total-information">
          <td class="govuk-table__cell">
            Exchange rate: &pound;1 to &dollar;{{(1 -  usdExchangeRate + 1) | currency(2)}}
          </td>
          <td class="paas-month-price">ex VAT</td>
          <td td class="paas-month-price">inc VAT at 20&percnt;</td>
        </tr>
      </table>
    </div>
  </div>

  {% if items | length %}
    {% if isCurrentMonth %}
      <p class="paas-table-notification">
        This statement shows up to date provisional usage data for current month.
      </p>
    {% endif %}
    <form method="get" action="{{ linkTo('admin.statement.dispatcher', {organizationGUID: organization.metadata.guid}) }}" class="paas-statement-range">
      <input type="hidden" name="rangeStart" value="{{ filterMonth }}" />
      <input type="hidden" name="space" value="{{ filterSpace.metadata.guid }}" />
      <input type="hidden" name="service" value="{{ filterService.metadata.guid }}" />

      <table class="govuk-table paas-table-billing-statement">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% if orderDirection == "asc" %}
              {% set newOrder = "desc" %}
            {% else %}
              {% set newOrder = "asc" %}
            {% endif %}
            <th class="govuk-table__header" scope="col">
              {% if orderBy == "name" %}
                <input type="hidden" name="order" value="{{ newOrder }}">
              {% endif %}
              <button type="submit" name="sort" value="name" class="govuk-button {{ orderDirection if orderBy == 'name' }}">Name</button>
            </th>
            <th class="govuk-table__header" scope="col">
              {% if orderBy == "space" %}
                <input type="hidden" name="order" value="{{ newOrder }}">
              {% endif %}
              <button type="submit" name="sort" value="space" class="govuk-button {{ orderDirection if orderBy == 'space' }}">Space</button>
            </th>
            <th class="govuk-table__header" scope="col">
              {% if orderBy == "plan" %}
                <input type="hidden" name="order" value="{{ newOrder }}">
              {% endif %}
              <button type="submit" name="sort" value="plan" class="govuk-button {{ orderDirection if orderBy == 'plan' }}">Plan</button>
            </th>
            <th class="govuk-table__header" scope="col" style="text-align: right">Ex VAT</th>
            <th class="govuk-table__header" scope="col" style="text-align: right">Inc VAT</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for item in items %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">
                {{ item.resourceName }}
              </td>
              <td class="govuk-table__cell ">
                {{ item.space.entity.name or item.space.metadata.guid }}
              </td>
              <td class="govuk-table__cell ">
                {{ item.planName }}
              </td>
              <td class="govuk-table__cell" style="text-align: right">
                <span class="currency">&pound;</span>
                {{ item.price.exVAT | currency(2) }}
              </td>
              <td class="govuk-table__cell" style="text-align: right">
                <span class="currency">&pound;</span>
                {{ item.price.incVAT | currency(2) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% else %}
    <p class="paas-table-notification">There is no record of any usage for that period.</p>
  {% endif %}

{% endblock %}
